{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you need emails and letters in English or Welsh? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="application_withdraw_joint" method="post" novalidate>





          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  What do you want to do?
                </h1>
              </legend>
              <div id="sign-in-hint" class="govuk-hint">

              </div>


              <p>You can either withdraw your application, or continue with it on your own as a ‘sole applicant’. If you continue on your own then your husband or wife will be notified and they will become the ‘respondent’ to the divorce application.   </p>


              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
                  <label class="govuk-label govuk-radios__label" for="sign-in">
                    I want to withdraw my application
                  </label>
                  <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                    Choose this option if you and your husband or wife do not want to get divorced any more.
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
                  <label class="govuk-label govuk-radios__label" for="sign-in-2">
                    I want to continue the application on my own
                  </label>
                  <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                  Choose this option if you want to continue to get divorced, but you want to apply on your own, as a sole applicant.
                  </div>
                </div>
              </div>

            </fieldset>
          </div>




          <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>



      </form>
    </div>
  </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
