{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Pay your divorce fee - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="application_ready_submit2">Cymraeg</a>
  </p>
</div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/joint_divorce/confirmation" method="post" novalidate>

            <h1 class="govuk-heading-l">
                    Pay and submit
                  </h1>

<p class="govuk-body">Your joint application has been agreed by you and your husband or wife. You need to pay the application fee of £550 before it can be submitted. The payment system does not allow you to split the payment. </p>

<p class="govuk-body">You cannot use help with fees on this application because your husband or wife did not apply for help with fees. Both of you need to apply and be eligible in a joint application. </p>



<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If you cannot pay
    </span>
  </summary>
  <div class="govuk-details__text">
  <p>  The payment system will only allow you to pay, but you could talk to your husband or wife about whether they would be prepared to send you some money.</p>

  <p> Or you could submit a sole application. If you apply as a sole applicant, only you have to apply for Help With Fees.</p>
<p>   If you create a sole application, you will not have to re-enter the information you have already provided. You will need to provide some new information though.</p>


<p>You can <a href="/joint_divorce/start_new_sole_app">submit a sole application here</a>.</p>

  </div>
</details>


<p>  This joint application will not be submitted until you pay the fee.</p>

        </form>
      </div>
    </div>

    <form action="/joint_divorce/confirmation" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Pay and submit application
      </button>

    </form>



<p><a href="/joint_divorce/sign_in">Save and sign out</a></p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
