{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you need emails and letters in English or Welsh? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"> Withdrawing your divorce application </h1>




<p>You have said you do not want to continue with your divorce.
  If you want to withdraw your application then you and your husband or wife need to fill out a separate <a class="govuk-link" href="#">D11 form</a> and send it to the court. Details of where to send it are on the form.
</p>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      If you want to continue as a sole applicant
    </span>
  </summary>
  <div class="govuk-details__text">
    If you still want to get divorced but you do not think your husband or wife will confirm the next stage of this joint application, then you can change to a sole application.
    This means your husband or wife will become the respondent for the rest of the divorce.

<br><br>
You will be able to change to a sole application after you have confirmed your application for a conditional order.
If your husband or wife does not also confirm the application within 2 weeks then you will receive an email with details of how to change your application online.
You should <a href="continue_with_conditional_order">continue to apply for a conditional order.</a>

<br><br>

If you want to change your application to a sole application now then you need to <a href="#">download and fill out a D84 paper form</a>.
Details of where to post it are on the form. If you want to choose this option then you should save and sign out. 
  </div>
</details>

   <!--

<p>If you need help then you can contact the court using the details below. The support staff cannot give you legal advice.  </p>
        <a href="/divorce/applicant_postal_address" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a>

            <a href="/divorce/applicant_address_private" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a> -->

    </div>
      </div>


<p><a href="#">Exit service</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
