{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Other court cases relating your marriage, property or children - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="check_answers_combined_co_app">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="/joint_divorce/check_answers_p2_co_app">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <h1 class="govuk-heading-xl">Confirm your joint application</h1>

<p class="govuk-body"> This is the information you and your husband or wife have provided for your joint application. Confirm it before continuing. </p>
      <h2 class="govuk-heading-m">About your marriage</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key" style="width:60%">
                    Same sex couples
                  </dt>
                  <dd class="govuk-summary-list__value">
                    We were not a same-sex couple when we got married.
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    <a href="#">

                      <span class="govuk-visually-hidden"> Same sex couples</span>
                    </a>
                  </dd>
                </div>


      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Has your marriage irretrievably broken down (it cannot be saved)?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes, the marriage has irretrievably broken down
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> marriage irretrievably broken down</span>
            </a>
          </dd>
        </div>
      </dl>



      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:60%">
          When did you get married?
        </dt>
        <dd class="govuk-summary-list__value">
          24th February 2012
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">

            <span class="govuk-visually-hidden"> when did you get married</span>
          </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:60%">
          How do you want to apply for a divorce?
        </dt>
        <dd class="govuk-summary-list__value">
          We want to apply jointly
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">

            <span class="govuk-visually-hidden"> when did you get married</span>
          </a>
        </dd>
      </div>


<!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:60%">
          Your name from the marriage certificate
        </dt>
        <dd class="govuk-summary-list__value">
          Joe Random Bloggs
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">

            <span class="govuk-visually-hidden"> your name on cert</span>
          </a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Your wife's name from the marriage certificate
        </dt>
        <dd class="govuk-summary-list__value">
          Jenny Anne Smith
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">

            <span class="govuk-visually-hidden"> {{ data['husband-wife'] }} name on cert</span>
          </a>
        </dd>
      </div>

      -->

      </dl>


      <h2 class="govuk-heading-m">Help with fees</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Do you need help paying the fee for your divorce?
          </dt>
          <dd class="govuk-summary-list__value">
            We do not need help paying the fee

            <div class="govuk-!-padding-bottom-4"></div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Find out more about help with fees
                </span>
              </summary>
              <div class="govuk-details__text">
                Info about HWFs
              </div>
            </details>


          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> help paying the fee</span>
            </a>
          </dd>
        </div>

      </dl>


      <h2 class="govuk-heading-m">Your connections to England and Wales</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Did you get married in the UK?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> married in the uk</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Is your original marriage certificate in English?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> Is your original marriage certificate in English?	</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Do you have a certified translation of your marriage certificate?

          </dt>
          <dd class="govuk-summary-list__value">
            Yes, we have a certified translation
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">certified translation</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Enter the country where you got married
          </dt>
          <dd class="govuk-summary-list__value">
            France
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> country</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Enter the place where you got married
          </dt>
          <dd class="govuk-summary-list__value">
            Paris
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> place</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your life mainly based in England or Wales?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> your life mainly based in england or wales</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your husband's or wife's life mainly based in England or Wales?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> husband's or wife's life mainly based in england or wales</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            How you're connected to England and Wales
          </dt>
          <dd class="govuk-summary-list__value">
            Your answers indicate that you can apply for a divorce in England and Wales because both of you are habitually resident.
            <div class="govuk-!-padding-bottom-4"></div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  See the legal version
                </span>
              </summary>
              <div class="govuk-details__text">
                The Applicant and the Respondent are habitually resident in England and Wales
              </div>
            </details>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>





      <h2 class="govuk-heading-m">About the first applicant</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            Jenny
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> your name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Middle name
          </dt>
          <dd class="govuk-summary-list__value">
            Louise
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> your name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            Smith
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> your name</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Did you change your last name when you got married?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> changed your name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Have you changed your name since getting married?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> changed your name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            How did you change your name?
          </dt>
          <dd class="govuk-summary-list__value">
            By deed poll
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> changed your name</span>
            </a>
          </dd>
        </div>
</dl>


<h2 class="govuk-heading-m">About the second applicant</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:60%">
      First name
    </dt>
    <dd class="govuk-summary-list__value">
      John
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">

        <span class="govuk-visually-hidden"> your name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:60%">
      Middle name
    </dt>
    <dd class="govuk-summary-list__value">
      Frank
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">

        <span class="govuk-visually-hidden"> your name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:60%">
      Last name
    </dt>
    <dd class="govuk-summary-list__value">
      Anderson
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">

        <span class="govuk-visually-hidden"> your name</span>
      </a>
    </dd>
  </div>



  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:60%">
      Did you change your last name when you got married?
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">

        <span class="govuk-visually-hidden"> changed your name</span>
      </a>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key" style="width:60%">
      Have you changed your name since getting married?
    </dt>
    <dd class="govuk-summary-list__value">
      No
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="#">

        <span class="govuk-visually-hidden"> changed your name</span>
      </a>
    </dd>
  </div>


</dl>







      <h2 class="govuk-heading-m">Other court cases </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Are there, or have there ever been, any other court proceedings relating to your marriage, property or children?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> other court cases</span>
            </a>
          </dd>
        </div>
        </dl>


      <h2 class="govuk-heading-m">Dividing your money and property</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Applicant 1<br>
            Do you want to apply for a financial order?
          </dt>
          <dd class="govuk-summary-list__value">
          No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> money and property</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Applicant 2<br>
            Do you want to apply for a financial order?
          </dt>
          <dd class="govuk-summary-list__value">
          Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> money and property</span>
            </a>
          </dd>
        </div>


       </dl>





















              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m">Confirm before continuing</h2>

                 <div class="govuk-form-group">
                          <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" style="background-color: white" id="app-prayer" name="app-prayer" type="checkbox" value="checked" {{ checked("app-prayer", "checked") }}>
                              <label class="govuk-label govuk-checkboxes__label" for="app-prayer">
                                I confirm that I’m applying to the court to:
                              </label>
                            </div>
                          </div>
                      </div>

                    <div class="govuk-form-group">
                          <ul class="govuk-list govuk-list--bullet" style="text-align: left">
                              <li>dissolve my marriage (get a divorce) </li>
                              <li>decide how our money and property will be split (known as a financial order)</li>
                            </ul>
                      </div>

                  <p class="govuk-body">
                            This confirms what you are asking the court to do. It’s known as ‘the prayer’.
                            </p>

                  <div class="govuk-!-padding-bottom-4"></div>

                  <div class="govuk-form-group">
                          <div class="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                              <input class="govuk-checkboxes__input" style="background-color: white" id="statement-truth" name="statement-truth" type="checkbox" value="checked" {{ checked("statement-truth", "checked") }}>
                              <label class="govuk-label govuk-checkboxes__label" for="statement-truth">
                                I believe that the facts stated in this application are true
                              </label>
                            </div>
                          </div>
                      </div>

                  <p class="govuk-body">
                            This confirms that the information you are submitting is true and accurate, to the best of your knowledge. It’s known as your ‘statement of truth’.
                            </p>

                  <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                    <div style="margin-top: -12px;">   You could be fined or imprisoned if you deliberately submit false information.</div>
                    </strong>
                  </div>
                      </div>
                 </div>









      <form action="/joint_divorce/application_review_co_app" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

  <!--
<button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
  Confirm
    </button>

  -->
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Confirm
        </button>

      </form>

    </div>
  </div>

<p><a href="">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
