{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Other court cases relating your marriage, property or children - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="check_answers_combined_co_app">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="/joint_divorce/financial_order_co_app">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">
      <h1 class="govuk-heading-xl">Check your wife's answers</h1>

<p class="govuk-body"> This is the information your wife provided for your joint application. Check it to make sure it’s correct. </p>

      <h2 class="govuk-heading-m">Your marrage</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Same sex couples
          </dt>
          <dd class="govuk-summary-list__value">
            We were not a same-sex couple when we got married.
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> Same sex couples</span>
            </a>
          </dd>
        </div>


      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:60%">
          When did you get married?
        </dt>
        <dd class="govuk-summary-list__value">
          24th February 2012
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">

            <span class="govuk-visually-hidden"> when did you get married</span>
          </a>
        </dd>
      </div>




      </dl>

      <h2 class="govuk-heading-m">Help with fees</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Do you need help paying the fee for your divorce?
          </dt>
          <dd class="govuk-summary-list__value">
            I do not need help paying the fee

            <div class="govuk-!-padding-bottom-4"></div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Find out more about help with fees
                </span>
              </summary>
              <div class="govuk-details__text">
                This divorce application costs £550. Either you or your husband can pay. Your husband or wife has said they do not need help with fees, so you will not be asked. This is because you both need to be eligible and apply separately, to use help with fees on a joint application.
              </div>
            </details>


          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> help paying the fee</span>
            </a>
          </dd>
        </div>
      </dl>



      <h2 class="govuk-heading-m">Your connections to England and Wales</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Did you get married in the UK?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> married in the uk</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Is your original marriage certificate in English?
          </dt>
          <dd class="govuk-summary-list__value">
            No
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> Is your original marriage certificate in English?	</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Do you have a certified translation of your marriage certificate?

          </dt>
          <dd class="govuk-summary-list__value">
            Yes, I have a certified translation
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden">certified translation</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Enter the country where you got married
          </dt>
          <dd class="govuk-summary-list__value">
            France
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> country</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Enter the place where you got married
          </dt>
          <dd class="govuk-summary-list__value">
            Paris
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> place</span>
            </a>
          </dd>
        </div>



        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your life mainly based in England or Wales?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> your life mainly based in england or wales</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is your husband's or wife's life mainly based in England or Wales?
          </dt>
          <dd class="govuk-summary-list__value">
            Yes
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> husband's or wife's life mainly based in england or wales</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            How you're connected to England and Wales
          </dt>
          <dd class="govuk-summary-list__value">
            Your answers indicate that you can apply for a divorce in England and Wales because both of you are habitually resident.
            <div class="govuk-!-padding-bottom-4"></div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  See the legal version
                </span>
              </summary>
              <div class="govuk-details__text">
                The Applicant and the Respondent are habitually resident in England and Wales
              </div>
            </details>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
      </dl>


      <h2 class="govuk-heading-m">About you and your wife</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
                Your full name from the marriage certificate
              </dt>
              <dd class="govuk-summary-list__value">
                Joe Random Bloggs
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">

                  <span class="govuk-visually-hidden"> your name on cert</span>
                </a>
              </dd>
            </div>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Your wife's full name from the marriage certificate
              </dt>
              <dd class="govuk-summary-list__value">
                Jenny Anne Smith
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">

                  <span class="govuk-visually-hidden"> {{ data['husband-wife'] }} name on cert</span>
                </a>
              </dd>
            </div>
    </dl>








      <h2 class="govuk-heading-m">Court cases </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Are there, or have there ever been, any other court proceedings relating to your marriage, property or children?
          </dt>
          <dd class="govuk-summary-list__value">
            No

            <div class="govuk-!-padding-bottom-4"></div>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Find out more about court cases
                </span>
              </summary>
              <div class="govuk-details__text">
                The court only needs to know about court proceedings relating to your marriage, property or children. It does not need to know about other court proceedings.
              </div>
            </details>


          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">

              <span class="govuk-visually-hidden"> other court cases</span>
            </a>
          </dd>
        </div>
        </dl>













      <!-- confirm details widget -->


      <form action="/joint_divorce/application_changes_co_app" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              Are the details provided by your wife correct?
            </h1>

          </legend>
          <div id="contact-hint" class="govuk-hint">
            If you select no then your wife will be notified and asked to change it.

          </div>
          <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
            <div class="govuk-radios govuk-radios--inline">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="needchange" name="needchange" type="radio" value="Yes" data-aria-controls="conditional-contact" {{ checked("needchange", "Yes") }}>
                <label class="govuk-label govuk-radios__label" for="contact">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="needchange-2" name="needchange" type="radio" value="No" data-aria-controls="conditional-contact-2" {{ checked("needchange", "No") }}>
                <label class="govuk-label govuk-radios__label" for="contact-2">
                  No
                </label>
              </div>


  <br><br><br>



              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">

                <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">

                  <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="with-hint">
                      Explain what is incorrect or needs changing.
                    </label>
                  </h1>
                  <div id="with-hint-hint" class="govuk-hint">
                    Your answer will be sent to your husband or wife.
                  </div>
                  <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
                </div>

                <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                  You can enter up to 200 characters
                </div>
              </div>
            </div>



          </div>
        </div>
      </fieldset>
      </div>








        <input type="hidden" name="answers-checked" value="true">

  <!--
<button disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled" data-module="govuk-button">
  Confirm
    </button>

  -->
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

<p><a href="">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
