{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Enter your postal address - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="/joint_divorce/co_applicant_postal_address.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Enter your postal address</h1>

    <form action="/joint_divorce/other_court_cases_co_app" method="post" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m"> Postcode
          </legend>
            <div class="govuk-form-group">
              <label class="govuk-label govuk-!-font-weight-bold" for="change-postcode">{{ data['address-postcode-v2'] }}</label>
              <p class="postcode_change"><a class="govuk-link" href="/joint_divorce/co_applicant_postal_address.html" aria-label="change postcode">Change</a></p>
            </div>

          <div class="govuk-form-group">
              <label class="govuk-label" for="address-select">
              Select an address
              </label>
              <select class="govuk-select govuk-!-width-three-quarters" id="address-select" name="address-select">
                <option>5 addresses found</option>
                <option>1 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>2 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>3 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>4 Main Street, London, {{ data['address-postcode-v2'] }} </option>
                <option>5 Main Street, London, {{ data['address-postcode-v2'] }} </option>
              </select>
          </div>

          <div class="govuk-form-group">
            <p>
              <a class="govuk-link" href="/joint_divorce/co_applicant_address_manual.html">I cannot find the address in the list</a>
            </p>
          </div>
        </fieldset>
      </div>

      <button type="submit" class="govuk-button">
        Continue
      </button>

    </form>
  </div>
</div>

<p><a href="/divorce/wrong_marriage_date">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
