{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00703c">
      <h1 class="govuk-panel__title">Application submitted</h1>
      <div class="govuk-body-l" style="color:white">
        Your reference number is:
        <div class="govuk-panel__body">
        <strong>1607 - 1014 - 1480 - 4782</strong>
        </div>
      </div>
      <div class="govuk-body" style="color:white"><strong>You have been sent a confirmation and payment receipt by email.</strong></div>
    </div>

    <!--<p class="govuk-body">
      You have been sent a confirmation and payment receipt by email.
    </p> -->

    <div class="govuk-!-padding-bottom-8"></div>

    <div class="hmcts-progress-bar">
    <ol class="hmcts-progress-bar__list">

    <li class="hmcts-progress-bar__list-item" aria-current="step" style="position:relative; left:-25px;">
      <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
      <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Submitted</span>
    </li>

    <li class="hmcts-progress-bar__list-item" style="position:relative; left:190px; margin-top: -35px;">
     <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-16" style="position:relative; right:220px; top:0px; margin-bottom: 5px;"><strong>20 weeks</strong></span>
      <span class="hmcts-progress-bar__icon"></span>
      <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Conditional order</span>
    </li>

    <li class="hmcts-progress-bar__list-item" style="position:relative; left:60px; margin-top: -35px;">
     <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-16" style="position:relative; right:75px; top:0px; margin-bottom: 5px;"><strong>6 weeks</strong></span>
      <span class="hmcts-progress-bar__icon"></span>
      <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Final order (Divorced)</span>
    </li>

    </ol>
    </div>


<!--
      <h2 class="govuk-heading-l">What you need to do now</h2>
      <p>You need to do the following in order to progress your application:</p>

      <h3 class="govuk-heading-m">Send your documents to the court</h3>
        <p>You need to send the following documents to the court because you did not upload them earlier:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Your marriage certificate (the original or a certified copy)</li>
        </ul>

        <div class="govuk-!-padding-bottom-4"></div>

      <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sending documents by email
            </span>
          </summary>
          <div class="govuk-details__text">
            <ol class="govuk-list govuk-list--number">
              <li>Take a photo or scan of the document</li>
              <li>Check the image shows the whole document and all the text is readable</li>
              <li>Attach it to an email</li>
              <li>Include your reference number in the subject line: [reference number]</li>
              <li>Email the documents to: divorcecase@justice.gov.uk</li>
            </ol>
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sending documents by post
            </span>
          </summary>
          <div class="govuk-details__text">
            <ol class="govuk-list govuk-list--number">
              <li>Write your reference number on each document: [reference number]</li>
              <li>Post the original documents to:</li>
            </ol>

            <p class="govuk-body">
                <strong>Courts and Tribunals Service Centre
                <br>HMCTS Divorce and Dissolution service
                <br>PO Box 12706
                <br>Harlow
                <br>CM20 9QT
                </strong>
              </p>

              <p class="govuk-body">
        You must post the original documents or certified copies. Your documents will not be returned to you.
      </p>
          </div>
        </details>

-->



        <h2 class="govuk-heading-l">What happens next</h2>


        <p>Your joint application will be checked by court staff. You and your <span id='data1'>{{ data['husband-wife'] }}</span> will receive an email notification by <span id='date-time'></span> confirming whether it has been accepted.</p>


                <script>

                  var targetDate = new Date();
                  targetDate.setDate(targetDate.getDate() + 2);

                  var dd = targetDate.getDate();
                  var mm = targetDate.getMonth(); // 0 is January, so we must add 1
                  var yyyy = targetDate.getFullYear();

                  const months = ["January", "February", "March","April", "May", "June", "July", "August", "September", "October", "November", "December"];
                  var dateString = dd + " " + months[mm]  + " " + yyyy;
                  document.getElementById('date-time').innerHTML=dateString;

                </script>
<p>If it’s accpeted, then the next step is for you to confirm that you want the application to continue by applying for a ‘conditional order’. You have to wait 20 weeks until you can apply. </p>

<p>You can use the time between now and then to decide how the money and property is divided. You can also make arrangements for children, if you have them. Dividing money and property is dealt with separately to the divorce process.</p>

        <h3 class="govuk-heading-m">Dividing your money and property</h3>

        <p>It’s usually more straightforward and less expensive if you agree with your <span id='data2'>{{ data['husband-wife'] }}</span> on how to divide your money and property. <a href="https://www.gov.uk/money-property-when-relationship-ends/mediation" class="govuk-link">Get help agreeing</a>.</p>

        <p>If you do agree then you can make the agreement legally binding. This is known as asking the court to make a <a href="https://www.gov.uk/money-property-when-relationship-ends/apply-for-consent-order" class="govuk-link">‘consent order’</a>.</p>

        <p>If you disagree then you can ask the court to decide for you. This is known as applying for a <a href="https://www.gov.uk/money-property-when-relationship-ends/get-court-to-decide" class="govuk-link">‘financial order’</a>.</p>

        <p>Read the guidance on <a href="https://www.gov.uk/money-property-when-relationship-ends" class="govuk-link">money and property when you divorce or separate</a>.</p>


        <h3 class="govuk-heading-m">If you need help</h3>

        <p>Court staff can give you help with your application. They cannot give you legal advice. You should speak to a <a href="#" class="govuk-link">solicitor or legal adviser</a>.</p>


                <h2 class="govuk-heading-s">Web chat</h2>
                    <ul class="govuk-list">
                        <li>No agents are available, please try again later.</li>
                    </ul>
                <h2 class="govuk-heading-s">Send us a message</h2>
                    <ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Send us a message</a></li>
                        <li>We aim to get back to you within 5 working days</li>
                    </ul>
                <h2 class="govuk-heading-s">Telephone</h2>
                    <ul class="govuk-list">
                        <li>0300 303 0742</li>
                        <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
                    </ul>

                    <br>
                                          <p>If you are experiencing domestic abuse or feel unsafe, then <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" class="govuk-link">support is available</a>.   </p>


        <h3 class="govuk-heading-m">If you need help</h3>

        <p>This is a new service. <a href="confirmation" class="govuk-link">Your feedback</a> helps to improve it for others.</p>

    </div>
  </div>




  <!-- <span id='data1'>{{ data['husband-wife'] }}</span>'s -->
  <script>
    const datacheck = document.getElementById('data1').innerHTML
    if (datacheck === '') {
      document.getElementById('data1').innerHTML="husband or wife";
      document.getElementById('data2').innerHTML="husband or wife";
      document.getElementById('data3').innerHTML="husband or wife";
    }
  </script>


{% endblock %}
