{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you need help paying the fee for your divorce? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="/joint_divorce/help_fees0">Cymraeg</a>
  </p>
</div>

<a class="govuk-back-link" href="/joint_divorce/broken_down_co_app">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/joint_divorce/your_names_co_app2" method="post" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                      Help with the divorce fee
                  </h1>
                </legend>



                <p>This divorce application costs £550.  This service will not ask you to pay the fee. Your husband or wife will be asked to pay because they are the first applicant. </p>

                <p>  Your husband or wife has said they need help paying the fee. They can only use Help With Fees on this application if you claim and are eligible for Help With Fees too.</p>

<p>You can claim Help With Fees if you: (one or more of the following):</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>are on certain benefits</li>
                    <li>have a little or no savings</li>
                    <li>have low income</li>
                  </ul>


<h3 class="govuk-heading-m">Do you need help with fees?</h3>
<p class="govuk-body">Your husband or wife can only use help with fees, if you apply and are eligible for Help With Fees too. You will not be asked to pay the fee by this service, no matter which answer you select.  
</p>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="help-fees-1" name="help-fees" type="radio" value="I need help paying the fee" {{ checked("help-fees", "I need help paying the fee") }}>
                    <label class="govuk-label govuk-radios__label" for="help-fees-1">
                      I need help with fees
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="help-fees-2" name="help-fees" type="radio" value="I do not need help paying the fee" {{ checked("help-fees", "I do not need help paying the fee") }}>
                    <label class="govuk-label govuk-radios__label" for="help-fees-2">
                      I do not need help with fees
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
