{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Joe Bloggs & Joanne Bloggs
    </h1>

</div>

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Reference Number: EZ111456</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:1px;color:#1d70b8;background-color:#1d70b8;"">



        <div class="govuk-!-padding-bottom-8"></div>

        <div class="hmcts-progress-bar">
        <ol class="hmcts-progress-bar__list">

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
          <span class="hmcts-progress-bar__label">Application submitted</span>
        </li>

        <li class="hmcts-progress-bar__list-item" aria-current="step">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Application checked and issued</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Conditional order</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Final order</span>
        </li>

        </ol>
        </div>


        <div class="govuk-!-padding-bottom-4"></div>



      <h2 class="govuk-heading-m">Lastest update</h2>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #E5F2EB; text-align: left;">


  <p >You have submitted your joint application for divorce. It’s being checked by court staff.  You will recieve an email by 8th July, after it has been checked.</p>

<h3 class="govuk-heading-s">Helpful Information</h3>

<a href="">Find out about dividing money and property </a>
      </div>

      <br>
      <h2 class="govuk-heading-m">Completed</h2>


        <div class="govuk-grid-column-one-quarter">

        <img src="/public/images/Completed.png">

        </div>


<div class="govuk-grid-column-three-quarters">

<h3 class="govuk-heading-s">Joint application for divorce submitted </h3>

<p>1 June 2021: You submitted a joint application for divorce</p>

<p>What you submitted </p>

<a href="">Your divorce application</a>

    </div>

    </div>




    <div class="govuk-grid-column-one-third">

    <div class="govuk-!-padding-bottom-5"></div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:5px;color:#1d70b8;background-color:#1d70b8;">


      <h2 class="govuk-heading-s">I want to...</h2>
      <p class="govuk-body"><a href="#" class="govuk-link">Amend the applicaiton</a></p>

        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-s">Contact us for help</h2>

  <p class="govuk-body">Ask a question or get help in your language.</p>

  <p class="govuk-body">Telephone<br>
0300 123 1711</p>

<p class="govuk-body">Monday to Friday, 8:30am to 5pm<br>


<a href="#" class="govuk-link">Find out about call charges </a> <br>(opens in a new window)</p>


<p class="govuk-body">Email<br>
<a href="#" class="govuk-link">contactia@justice.gov.uk</a></p>

<p class="govuk-body">We aim to get back to you within 5 days.</p>


</div>


  </div>

{% endblock %}
