{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Joe Bloggs & Joanne Bloggs
    </h1>

</div>

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Reference Number: EZ111456</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:1px;color:#1d70b8;background-color:#1d70b8;"">



      <div class="govuk-!-padding-bottom-8"></div>

      <div class="hmcts-progress-bar">
      <ol class="hmcts-progress-bar__list">

      <li class="hmcts-progress-bar__list-item"  >
        <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
        <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Submitted</span>
      </li>

      <li class="hmcts-progress-bar__list-item" aria-current="step">
        <span class="hmcts-progress-bar__icon"></span>
        <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Conditional order</span>
      </li>

      <li class="hmcts-progress-bar__list-item">
        <span class="hmcts-progress-bar__icon"></span>
        <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Final order (Divorced)</span>
      </li>

      </ol>
      </div>

      <div class="govuk-!-padding-bottom-4"></div>



      <h2 class="govuk-heading-m">Latest update</h2>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #F2F8F5; text-align: left;">


<p> You and your husband or wife have applied for a conditional order.  </p>

<p> The court will check your application and send it to a judge. If the judge agrees that there is no reason why you should not get a divorce, then they will ‘pronounce’ your conditional order in court.
  You will receive an email by <span id='date-time'></span> after your application has been checked. This will have the time, date and court where your conditional order will be pronounced.  </p>

<p>After your conditional order is pronounced, you then have to apply for a ‘final order’. This will finalise your divorce. You have to wait 6 weeks until after your conditional order, to apply for the final order. </p>


<span id='date-time'></span>

        <script>

          var targetDate = new Date();
          targetDate.setDate(targetDate.getDate() + 21);

          var dd = targetDate.getDate();
          var mm = targetDate.getMonth(); // 0 is January, so we must add 1
          var yyyy = targetDate.getFullYear();

          const months = ["January", "February", "March","April", "May", "June", "July", "August", "September", "October", "November", "December"];
          var dateString = dd + " " + months[mm]  + " " + yyyy;
          document.getElementById('date-time').innerHTML=dateString;

        </script>


        <!--



  <p >  Your application for divorce has been submitted and checked by court staff. It has now been ‘issued’ to you and your husband or wife by email.</p>

  <p >You have to confirm that you have received and accept the application for divorce. This is known as ‘acknowledging service’.</p>

  <p >Your divorce application cannot progress until both you and your husband or wife have ‘acknowledged service’.</p>



<form action="/joint_divorce/hub_5" method="post" novalidate>
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Apply for conditional order
       </button>

       </form>
-->


<h3 class="govuk-heading-s">Helpful Information</h3>

<p><a href="">Find out about dividing money and property </a></p>
<p><a href="/joint_divorce/hub_7">Find out more about conditional orders   </a></p>
      </div>

      <br>


</div>




    <div class="govuk-grid-column-one-third">

    <div class="govuk-!-padding-bottom-5"></div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:5px;color:#1d70b8;background-color:#1d70b8;">


      <h2 class="govuk-heading-s">I want to...</h2>


      <p>  <a href="">View the conditional order application (PDF)</a></p>
      <p>  <a href="">View the divorce application (PDF)</a></p>
        <p>  <a href="check_contact_details">Review your contact details</a></p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-s">Contact us for help</h2>

  <p class="govuk-body">Ask a question or get help in your language.</p>

  <p class="govuk-body">Telephone<br>
0300 123 1711</p>

<p class="govuk-body">Monday to Friday, 8:30am to 5pm<br>


<a href="#" class="govuk-link">Find out about call charges </a> <br>(opens in a new window)</p>


<p class="govuk-body">Email<br>
<a href="#" class="govuk-link">contactia@justice.gov.uk</a></p>

<p class="govuk-body">We aim to get back to you within 5 days.</p>


</div>


  </div>

{% endblock %}
