{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Joe Bloogs & Joanne Bloggs
    </h1>

</div>

  <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Reference Number: EZ111456</p>


        <div class="govuk-!-padding-bottom-8"></div>

        <div class="hmcts-progress-bar">
        <ol class="hmcts-progress-bar__list">

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
          <span class="hmcts-progress-bar__label">Application submitted</span>
        </li>

        <li class="hmcts-progress-bar__list-item" aria-current="step">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Application checked and issued</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Conditional order</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Final order</span>
        </li>

        </ol>
        </div>

        <div class="govuk-!-padding-bottom-4"></div>



      <h2 class="govuk-heading-m">Lastest update</h2>
      <p>You need to do the following in order to progress your application:</p>

      <h3 class="govuk-heading-m">Send your documents to the court</h3>
        <p>You need to send the following documents to the court because you did not upload them earlier:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Your marriage certificate (the original or a certified copy)</li>
        </ul>

        <div class="govuk-!-padding-bottom-4"></div>

      <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sending documents by email
            </span>
          </summary>
          <div class="govuk-details__text">
            <ol class="govuk-list govuk-list--number">
              <li>Take a photo or scan of the document</li>
              <li>Check the image shows the whole document and all the text is readable</li>
              <li>Attach it to an email</li>
              <li>Include your reference number in the subject line: [reference number]</li>
              <li>Email the documents to: divorcecase@justice.gov.uk</li>
            </ol>
          </div>
        </details>

        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Sending documents by post
            </span>
          </summary>
          <div class="govuk-details__text">
            <ol class="govuk-list govuk-list--number">
              <li>Write your reference number on each document: [reference number]</li>
              <li>Post the original documents to:</li>
            </ol>

            <p class="govuk-body">
                <strong>Courts and Tribunals Service Centre
                <br>HMCTS Divorce and Dissolution service
                <br>PO Box 12706
                <br>Harlow
                <br>CM20 9QT
                </strong>
              </p>

              <p class="govuk-body">
        You must post the original documents or certified copies. Your documents will not be returned to you.
      </p>
          </div>
        </details>





        <h2 class="govuk-heading-l">What happens next</h2>
        <p>Your joint application will be checked by court staff. You and your husband or wife will receive an email notification by June 8th confirming whether it has been accepted.  </p>

        <h3 class="govuk-heading-m">Dividing your money and property</h3>

        <p>It’s usually more straightforward and less expensive if you agree with your husband or wife on how to divide your money and property. <a href="https://www.gov.uk/money-property-when-relationship-ends/mediation" class="govuk-link">Get help agreeing</a>.</p>

        <p>If you do agree then you can make the agreement legally binding. This is known as asking the court to make a <a href="https://www.gov.uk/money-property-when-relationship-ends/apply-for-consent-order" class="govuk-link">‘consent order’</a>.</p>

        <p>If you disagree then you can ask the court to decide for you. This is known as applying for a <a href="https://www.gov.uk/money-property-when-relationship-ends/get-court-to-decide" class="govuk-link">‘financial order’</a>.</p>

        <p>Read the guidance on <a href="https://www.gov.uk/money-property-when-relationship-ends" class="govuk-link">money and property when you divorce or separate</a>.</p>


        <h3 class="govuk-heading-m">If you need help</h3>

        <p>Court staff can give you help with your application. They cannot give you legal advice. You should speak to a <a href="#" class="govuk-link">solicitor or legal adviser</a>.</p>


                <h2 class="govuk-heading-s">Web chat</h2>
                    <ul class="govuk-list">
                        <li>No agents are available, please try again later.</li>
                    </ul>
                <h2 class="govuk-heading-s">Send us a message</h2>
                    <ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Send us a message</a></li>
                        <li>We aim to get back to you within 5 working days</li>
                    </ul>
                <h2 class="govuk-heading-s">Telephone</h2>
                    <ul class="govuk-list">
                        <li>0300 303 0742</li>
                        <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
                    </ul>

                    <br>
                                          <p>If you are experiencing domestic abuse or feel unsafe, then <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" class="govuk-link">support is available</a>.   </p>


        <h3 class="govuk-heading-m">If you need help</h3>

        <p>This is a new service. <a href="#" class="govuk-link">Your feedback</a> helps to improve it for others.</p>

    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-s">Getting help</h2>
      <p class="govuk-body">This is a paragraph inside a one-third wide column</p>

  <h2 class="govuk-heading-s">Download your documents</h2>
  <p class="govuk-body"><a href="#" class="govuk-link">Divorce applicaiton (PDF)</a></p>

  <h2 class="govuk-heading-s">Guidance on GOV.UK</h2>
  <p class="govuk-body">This is a paragraph inside a one-third wide column</p>
</div>


  </div>

{% endblock %}
