{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - You can use the English or Welsh courts to get a divorce - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="life_based_in_uk.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="your_names" method="post" novalidate>

          <div class="govuk-form-group">

                  <h1 class="govuk-heading-l">
                    You can use the English or Welsh courts to get a divorce
                  </h1>

                  <p class="govuk-body">
                  Your answers indicate that you can get a divorce in England or Wales because both of you are 'habitually resident' here.

                  There are other ways to be legally connected to England and Wales. These may be important if there is a dispute about whether the courts have jurisdiction over your case.

                  </p>

              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Read more about habitual residence and the other possible legal connections
                    </span>
                  </summary>

                  <div class="govuk-details__text">

                      <h3 class="govuk-heading-s">Habitual Residence</h3>

                    <p>Your habitual residence is the place in which your life is mainly based. You must be settled there and intend to stay settled there.
                      Some of the following may apply: you work there, own property, have your children in school there, and your main family life takes place there.</p>




                    <h3 class="govuk-heading-s">Domicile</h3>

                    <p>Your domicile is the place of your permanent home in which you live, or to which you intend to return.</p>

                    <p>When you were born you will have acquired your parents' domicile (for example, your father's if they were married, or your mother's if they weren’t married or if your father died before you were born).
                      If you have since moved to another country and made that your permanent home then your domicile may have moved there.</p>

                      <p>If you were born in England or Wales, lived your entire life here, and intend to stay here, then it is very likely that you’ll be both habitually resident and domiciled here.</p>

  <h3 class="govuk-heading-s">Disputes about jurisdiction</h3>

                    <p>If you think that there might be a dispute about whether the English and Welsh courts have jurisdiction over your case then you should get legal advice before submitting this application.</p>

                    <p>If you think there are additional ways in which you are connected to England and Wales then you can add them below.
                      These may be important to add if there is a dispute about whether the courts have jurisdiction over your case. </p>

                      <div class="govuk-!-padding-bottom-2"></div>


                      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox" value="carcasses">
                           <label class="govuk-label govuk-checkboxes__label" for="waste" style="margin-top: -13px">
                             You and your husband or wife are habitually resident in England and Wales
                           </label>
                         </div>

                         <div class="govuk-!-padding-bottom-6"></div>

                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-2" style="margin-top: -13px">
                             You and your husband or wife were last habitually resident in England and Wales and one of you continues to reside there
                           </label>
                         </div>

                         <div class="govuk-!-padding-bottom-6"></div>

                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                             Your husband or wife is habitually resident in England and Wales
                           </label>
                         </div>

                         <div class="govuk-!-padding-bottom-6"></div>

                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                             You are habitually resident in England and Wales
                           </label>
                         </div>

                        <div class="govuk-!-padding-bottom-6"></div>

                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-3" style="margin-top: -26px">
                             You are habitually resident in England and Wales and have resided there for at least one year immediately before making this application
                           </label>
                         </div>

                         <div class="govuk-!-padding-bottom-6"></div>

                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-2" style="margin-top: -26px">
                             You are domiciled and habitually resident in England and Wales and have resided there for at least six months immediately before making this application
                           </label>
                         </div>


                        <div class="govuk-!-padding-bottom-6"></div>


                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-3" style="margin-top: -13px">
                             You and your husband or wife are domiciled in England and Wales
                           </label>
                         </div>

                         <div class="govuk-!-padding-bottom-6"></div>

                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                             Only you are domiciled in England and Wales
                           </label>
                         </div>

                         <div class="govuk-!-padding-bottom-6"></div>


                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-3">
                             Only your husband or wife is domiciled in England and Wales
                           </label>
                         </div>

                          <div class="govuk-!-padding-bottom-6"></div>

                         <!--
                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox" value="mines">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                             You and your civil partner registered your civil partnership in England and Wales and it would be in the interests of justice for the court to assume jurisdiction in this case.
                           </label>
                         </div>
                         -->

                         <div class="govuk-checkboxes__item">
                           <input class="govuk-checkboxes__input" id="waste-3" name="waste" type="checkbox" value="farm">
                           <label class="govuk-label govuk-checkboxes__label" for="waste-3" style="margin-top: -26px">
                             You and your husband or wife married each other in England and Wales and it would be in the interests of justice for the court to assume jurisdiction in this case.
                           </label>
                         </div>

                      </div>



                  </div>

              </details>

            </div>

           <!-- <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-heading-m">
                      Do you want to add more connections to England and Wales?
                  </h1>
                </legend>

                <p>You only need to do this if your husband or wife may disagree that both of you are habitually resident.</p>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="help-fees-1" name="help-fees" type="radio" value="true" {{ checked("help-fees", "true") }}>
                    <label class="govuk-label govuk-radios__label" for="help-fees-1">
                      I'm confident that connection is right
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="help-fees-2" name="help-fees" type="radio" value="false" {{ checked("help-fees", "false") }}>
                    <label class="govuk-label govuk-radios__label" for="help-fees-2">
                      I'm not sure, and I want to add more connections
                    </label>
                  </div>
                </div>

              </fieldset>
            </div> -->

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
