{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you want to apply for a financial order? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="AOS">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="conditional_order_check_answers" method="post" novalidate>

          <div class="govuk-form-group">

                  <h1 class="govuk-heading-l">
                    Review your joint divorce application
                  </h1>

                  <p>
                  Read your application for divorce and confirm the information is still correct.
                  </p>

                  <h2 class="govuk-heading-m">Joint divorce application</h2>


                  <p>Joe Bloggs and Joanne Bloggs are applying to the court:<p>

                    <ul class="govuk-list govuk-list--bullet">
                          <li>for a final order of divorce</li>
                          <li>to make a financial order</li>
                        </ul>

                        <p><strong>Issued: </strong> 2 July 2021</p>
                        <p><strong>Case reference number:</strong> EZ111456</p>


                  <h2 class="govuk-heading-s">Applicant 1</h2>
                  <p>Joe Smith Bloggs<p>

                    <h2 class="govuk-heading-s">Applicant 2</h2>
                    <p>Joanne Anne Bloggs<p>





                      <h2 class="govuk-heading-m">About the marriage</h2>

                      <p>These details are copied directly from the marriage certificate, or the translation of the certificate, if it’s not in English. The names are the names the applicant and respondent used before the marriage. </p>




                      <h3 class="govuk-heading-s">Who the marriage is between</h3>
                        <p>Joe Bloggs and Joanne Bloggs (as shown on the marriage certificate)</p>

                        <h2 class="govuk-heading-s">Where the marriage took place</h2>
                        <p>London</p>

                        <h2 class="govuk-heading-s">Date of marriage</h2>
                        <p>14 July 2009</p>


                        <h2 class="govuk-heading-m">Why the court can deal with the case (jurisdiction)</h2>
<p>The courts of England and Wales have the legal power (jurisdiction) to deal with this case because:</p>
<ul class="govuk-list govuk-list--bullet">
      <li>the applicants are habitually resident in England and Wales.</li>
      <!--
      <li>the applicant and respondent were last habitually resident in England and Wales and one of them still resides there.</li>
      <li> the applicant is habitually resident in England and Wales and has resided there for at least a year immediately prior to the presentation of the application.</li>
      <li>the applicant is domiciled and habitually resident in England and Wales and has resided there for at least six months immediately prior to the application.</li>
      <li>the applicant and respondent are both domiciled in England and Wales. </li>
      <li>no other court in any EU Member State has jurisdiction and either the Petitioner or the Respondent is domiciled in England and Wales; or (for same sex couples only) the Petitioner or the Respondent married each other in England and Wales, no other court in any EU Member State has jurisdiction, and it would be in the interests of justice for the any EU Member State has jurisdiction, and it would be in the interests of justice for the court to assume jurisdiction in this case.[ME6]
 </li>

 -->
    </ul>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          What this means
        </span>
      </summary>
      <div class="govuk-details__text">

        <p>The courts of England or Wales must have the jurisdiction (the legal power) to be able to grant a divorce.
          The applicants confirmed that the legal statement(s) in the application apply to either or both the applicant and respondent.
          Each legal statement includes some or all of the following legal connections to England or Wales.</p>

<h3 class="govuk-heading-s">Habitual residence</h3>
        <p> If your life is mainly based in England or Wales then you’re what is legally known as 'habitually resident'.</p>

      <p>This may include working, owning property, having children in school, and your main family life taking place in England or Wales.</p>

      <p>These examples aren’t a complete list of what makes up habitual residence, and just because some of them apply to you doesn’t mean you’re habitually resident. If you’re not sure, you should get legal advice.</p>



      <h3 class="govuk-heading-s">Domicile</h3>
              <p> Your domicile is usually the place in which you were born, regard as your permanent home and to which you have the closest ties.</p>

            <p>However, domicile can be more complex. For example, if you or your parents have moved countries in the past. </p>

            <p>When you’re born, you acquire the ‘domicile of origin’. This is usually: </p>
<ul class="govuk-list govuk-list--bullet">
  <li>the country your father was domiciled in if your parents were married </li>
  <li>the country your mother was domiciled in if your parents were unmarried, or your father had died before you were born </li>
</ul>

  <p>If you leave your domicile of origin and settle in another country as an adult, the new country may become your ‘domicile of choice’. </p>

  <p>If you’re not sure about your domicile, you should get legal advice.</p>


<!--

            <h3 class="govuk-heading-s">Residual jurisdiction</h3>
                    <p> Usually, to be eligible for residual jurisdiction you or your husband or wife must be domiciled in England. Neither of you must be nationals of or habitually resident in, another country in the EU (except Denmark). </p>

                  <p>In addition, if you’re married to a member of the same sex, you may be eligable for residul jurisdiction if: (all the following apply):</p>
                  <ul class="govuk-list govuk-list--bullet">
                    <li>you married each other in the UK  </li>
                    <li>neither of you are nationals of, or habitually resident in, another country in the EU (except Denmark) </li>
                    <li>it would be in the interests of natural justice for the court to consider this application (this may apply if, for example, your home country does not allow divorce between same-sex couples  </li>

                  </ul>

<p>However, residual jurisdiction can be complex. If you’re not sure whether this applies to you then you should get legal advice </p>
-->
      </div>
    </details>


    <h2 class="govuk-heading-m">Other court cases</h2>

    <p>The court needs to know about any other court cases relating to the marriage, which might affect the legal power (jurisdiction) of the court. </p>

<p>The applicants have indicated that there are no other court cases which are related to the marriage.</p>


<h2 class="govuk-heading-m">Reason for the divorce</h2>

<p>The marriage has irretrievably broken down (it cannot be saved).</p>


<h2 class="govuk-heading-m">Financial order application</h2>

<p>Applicant 1 is applying to the court for financial orders for the applicants, and for the children of the applicants</p>
<p>Applicant 2 is applying to the court for financial orders for the applicants, and for the children of the applicants</p>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      What this means
    </span>
  </summary>
  <div class="govuk-details__text">

    <p>You and your husband or wife were asked if they want the court to decide how your money, property, pensions and other assets will be split.
      These decisions are called ‘financial orders’. Financial orders can be made between you and your husband and any children that you may have. </p>

      <p>A financial order can be made if you agree about dividing money and property, and you want to make the decision legally binding. This is known as a ‘financial order by consent’.
        Or they can be made if you disagree about dividing money and property and want the court to decide. This is known as a ‘contested financial order’. </p>

        <p>To formally start legal proceedings, the applicants will need to complete another form and pay a fee. Applying for a ‘contested financial order’ costs £255. Applying for a ‘financial order by consent’ costs £50. You can get a solicitor to draft these and apply for you. </p>
        <p>If you are not sure what to do then you should seek legal advice. </p>


  </div>
</details>




<h2 class="govuk-heading-m">Applicant 1’s correspondence address</h2>

<p>[Applicant 1’s address]</p>

<h2 class="govuk-heading-m">Applicant 1’s email address</h2>

<p>[Applicant 1’s email address]</p>


<h2 class="govuk-heading-m">Applicant 2's correspondence address</h2>

<p>[Applicant 2's address]</p>


<h2 class="govuk-heading-m">Applicant 2's email address</h2>

<p>[Applicant 2's email address]</p>

<h2 class="govuk-heading-m">Statement of truth</h2>

<p>I believe that the facts stated in this application are true.</p>

<p>Joe Bloggs and Joanne Bloggs</p>

<div class="govuk-!-padding-bottom-8"></div>

<!-- confirm details widget -->


<form action="/joint_divorce/application_changes_co_app" method="post" novalidate>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">
        Is the information in this application still correct?
      </h1>

    </legend>
    <div id="contact-hint" class="govuk-hint">


    </div>

    <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
      <div class="govuk-radios govuk-radios--inline">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="needchange" name="needchange" type="radio" value="Yes" data-aria-controls="conditional-contact" {{ checked("needchange", "Yes") }}>
          <label class="govuk-label govuk-radios__label" for="contact">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="needchange-2" name="needchange" type="radio" value="No" data-aria-controls="conditional-contact-2" {{ checked("needchange", "No") }}>
          <label class="govuk-label govuk-radios__label" for="contact-2">
            No
          </label>
        </div>

<br><br><br>

        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">

          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">

            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="with-hint">
                What needs changing or adding?
              </label>
            </h1>

            <p>You will need to pay a £95 fee to change any information in this application. The application will need to be sent to your husband or wife again.</p>
            <div id="with-hint-hint" class="govuk-hint">
              Provide details of what you need to change or add
            </div>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
          </div>

          <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">

          </div>
        </div>
      </div>



    </div>
  </div>
</fieldset>
</div>

  <input type="hidden" name="answers-checked" value="true">



          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
