{% extends "layouts/main.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - How do you want to apply for the divorce? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/joint_divorce/email_address" method="post" novalidate>

          <div class="govuk-form-group">

                  <h1 class="govuk-heading-l">
                    How do you want to apply for the divorce?
                  </h1>

                  <p class="govuk-body">
                  You can apply for the divorce on your own (as a ‘sole applicant’) or with your <span id='data1'>{{ data['husband-wife'] }}</span> (in a ‘joint application’).
                  </p>

              <h2 class="govuk-heading-s">Applying as a sole applicant </h2>

                <p class="govuk-body">
                  If you apply as a sole applicant, your <span id='data2'>{{ data['husband-wife'] }}</span> responds to your divorce application after you have submitted it. You will be applying on your own.
                  </p>

                  <h2 class="govuk-heading-s">Applying jointly, with your <span id='data3'>{{ data['husband-wife'] }}</span></h2>

              <p class="govuk-body">
                  If you apply jointly, your <span id='data4'>{{ data['husband-wife'] }}</span> joins and reviews this online application before it’s submitted. You will be applying together.
                  </p>

                <p>
                  How you divide your money and property is dealt with separately. It should not affect your decision on whether to do a sole or a joint application.
                </p>

<div class="govuk-inset-text">
You have applied for Help With Fees. If you choose to do a joint application, then your <span id='data5'>{{ data['husband-wife'] }}</span> must also apply and be eligible for Help With Fees. If they are not eligible or do not apply, then you will be asked to pay the full application fee. In a sole application, only you needed to have applied.
  </div>


<!--
                <div class="govuk-warning-text">
                  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                  <strong class="govuk-warning-text__text">
                    <span class="govuk-warning-text__assistive">Warning</span>
                  <div style="margin-top: -20px;"> You have applied for Help With Fees. If you choose to do a joint application, then your {{ data['husband-wife'] }} must also apply for Help With Fees. In a sole application, only you needed to have applied.
                  </div>
                  </strong>
                </div>

-->






                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sole-joint" name="sole-joint" type="radio" value="I want to apply on my own, as a sole applicant" data-aria-controls="sole-jointdata" {{ checked("sole-joint", "I want to apply on my own, as a sole applicant") }}>
                        <label class="govuk-label govuk-radios__label" for="sole-joint">
                          I want to apply on my own, as a sole applicant
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="sole-joint-2" name="sole-joint" type="radio" value="I want to apply jointly, with my husband or wife"  data-aria-controls="sole-joint-2data" {{ checked("sole-joint", "I want to apply jointly, with my husband or wife") }}>
                        <label class="govuk-label govuk-radios__label" for="sole-joint-2">
                          I want to apply jointly, with my <span id='data6'>{{ data['husband-wife'] }}</span>
                        </label>
                      </div>

                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="sole-joint-2data">

                          <p>
                            You should have already discussed this with your <span id='data7'>{{ data['husband-wife'] }}</span></p>
                      </div>
                    </div>


          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>




<!--

<span id='data1'>{{ data['husband-wife'] }}</span>

-->
<script>
  const datacheck = document.getElementById('data1').innerHTML
  if (datacheck === '') {
    document.getElementById('data1').innerHTML="husband or wife";
    document.getElementById('data2').innerHTML="husband or wife";
    document.getElementById('data3').innerHTML="husband or wife";
    document.getElementById('data4').innerHTML="husband or wife";
    document.getElementById('data5').innerHTML="husband or wife";
    document.getElementById('data6').innerHTML="husband or wife";
    document.getElementById('data7').innerHTML="husband or wife";
  }
</script>

{% endblock %}
