{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Pay your divorce fee - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="application_ready_submit2">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/joint_divorce/confirmation" method="post" novalidate>

            <h1 class="govuk-heading-l">
                    Changing to a sole application
                  </h1>

<p>The quickest way to progress your application is for your husband or wife to apply for a conditional order. They have been emailed details of how to do this. You should contact them to remind them, if it’s safe to do so. </p>

<p>If you do not think they will apply then you can change to a sole application. This means you will become the main applicant and they will become the ‘respondent’ for the rest of divorce process. They will be notified of this change. </p>


<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
  <div style="margin-top: -12px;">You will not be able to change back to a joint application once you have made this change. 
</div>
  </strong>
</div>

        </form>
      </div>
    </div>



    <form action="/divorce/hub_4_switch" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Change to a sole application
      </button>

    </form>



<p><a href="/joint_divorce/sign_in">Cancel</a></p>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
