{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you need emails and letters in English or Welsh? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="hub_8_respondent_FO" method="post" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Finalising your divorce
                  </h1>
                </legend>

                <p>It’s usually quicker and easier if your husband or wife applies for the final order. This is because they are the applicant. You can save and sign out and ask them to apply, if it’s safe to do so. <p>

<p>If your husband or wife will not or cannot apply to finalise the divorce, then you can. You will need to apply for permission because you are the ‘respondent’ in the divorce process. You will also need to pay an application fee of £53, unless you are eligible for and apply for Help With Fees. </p>

<div class="govuk-!-padding-bottom-2"></div>

                  <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <div style="margin-top: -20px; margin-left: 10px;">If you have not finished negotiations about your money, property or other assets then you should seek legal advice before applying to finalise your divorce
</div>
        </strong>
      </div>


<!--
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            If you want to settle your finances before finalising your divorce
          </span>
        </summary>

        <div class="govuk-!-padding-top-4"></div>


        <p>You should save and sign out and settle your finances before applying for a final order. </p>

        <p>If you have not applied by <span id='date-time'></span> then your husband or wife will be able to apply. You may both have to come to a court hearing, if they apply. </p>

<p>If you wait a year before applying then you will need to explain the delay to the court. </p>


                  <script>

                    var targetDate = new Date();
                    targetDate.setDate(targetDate.getDate() + 92);

                    var targetDate2 = new Date();
                    targetDate2.setDate(targetDate2.getDate() + 90);

                    var dd = targetDate.getDate();
                    var mm = targetDate.getMonth(); // 0 is January, so we must add 1
                    var yyyy = targetDate.getFullYear();

                    var ddd = targetDate2.getDate();
                    var mmm = targetDate2.getMonth(); // 0 is January, so we must add 1
                    var yyyyy = targetDate2.getFullYear();

                    const months = ["January", "February", "March","April", "May", "June", "July", "August", "September", "October", "November", "December"];

                    var dateString = dd + " " + months[mm]  + " " + yyyy;
                    var dateString2 = ddd + " " + months[mmm]  + " " + yyyyy;

                    document.getElementById('date-time').innerHTML=dateString;
                    document.getElementById('date-time2').innerHTML=dateString2;

                  </script>




      </details>


-->


        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="waste2" name="waste2" type="checkbox" value="carcasses">
                <label class="govuk-label govuk-checkboxes__label" for="waste">
                 I want permission to apply for a final order, and to finalise my divorce
                </label>
              </div>
        </div>

              </fieldset>
            </div>

            <div class="govuk-form-group">
              <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
                  Explain why you need to apply for the final order, and why your husband or wife cannot apply
                </label>
              </h1>
              <div id="more-detail-hint" class="govuk-hint">

              </div>
              <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
            </div>

            <p>If permission to apply for a final order is granted, then your application for a final order will also be considered. </p>

            <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>

           <!-- <a href="/divorce/applicant_postal_address" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a>

            <a href="/divorce/applicant_address_private" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a> -->

        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
