{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you need emails and letters in English or Welsh? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="validity" method="post" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you agree the courts of England and Wales have jurisdiction?
                  </h1>
                </legend>

                <p>Your husband or wife’s answers in the application indicated that the courts of England and Wales have the legal power (jurisdiction) to grant you a divorce.
</p>
                <p> This is because:</p>



                  <ul class="govuk-list govuk-list--bullet">
                        <li>you and your husband or wife are habitually resident in England or Wales </li>

                        <!--
                        <li>you are habitually resident in England or Wales</li>
                        <li>   your husband or wife is habitually resident in England or Wales  </li>
                        <li> you and your husband or wife were both last habitually resident in England or Wales and one of you still lives there </li>
                        <li> both you and your husband are domiciled in England or Wales  </li>
                        <li> you’re domiciled in England or Wales </li>
                        <li> you’re domiciled and habitually resident in England or Wales and have lived there for at least 6 months </li>
                        <li>your husband or wife is domiciled in England or Wales   </li>

                        -->

                      </ul>

<div class="govuk-!-padding-bottom-2"></div>

                      <details class="govuk-details" data-module="govuk-details">
                        <summary class="govuk-details__summary">
                          <span class="govuk-details__summary-text">
                            What this means
                          </span>
                        </summary>
                        <div class="govuk-details__text">
                        <p>  Habitual residence </p>

                        <p>   Domicile </p>

                        <p>   Residual jurisdiction </p>
                        </div>
                      </details>




<div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">

                <div class="govuk-radios">

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="jurisdiction_agree" name="jurisdiction_agree" type="radio" value="Agree" data-aria-controls="conditional-contact" {{ checked("jurisdiction_agree", "Agree") }}>
                    <label class="govuk-label govuk-radios__label" for="agreeordispute">
                      Yes, I agree the court has jurisdiction
                    </label>
                  </div>

                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="jurisdiction_agree-1" name="jurisdiction_agree" type="radio" value="Dispute" data-aria-controls="conditional-contact2" {{ checked("jurisdiction_agree", "Dispute") }}>
                    <label class="govuk-label govuk-radios__label" for="jurisdiction_agree">
                      No, I do not agree the court has jurisdiction
                    </label>
                  </div>


                  <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact2">

                    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">

                      <div class="govuk-form-group">
                        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="with-hint">
                          Why don't you agree that the court has jurisdiction?
                        </label>
                      </h1>
                      <div id="with-hint-hint" class="govuk-hint">

                      </div>
                      <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
                    </div>

                    <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                      You can enter up to 200 characters
                    </div>
                  </div>



                  <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="with-hint">
                   In which country is your life mainly based?
                </label>
                <input class="govuk-input govuk-input--width-20" id="app-first-name" name="app-first-name" type="text" value="{{ data['app-first-name'] }}">
                </div>


                </div>


</div>
                </div>




              </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

           <!-- <a href="/divorce/applicant_postal_address" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a>

            <a href="/divorce/applicant_address_private" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a> -->

        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
