{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Other court cases relating to your marriage, property or children - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="other_court_cases_details" method="post" novalidate>

          <div class="govuk-form-group">

            <h1 class="govuk-heading-l">
              Other court cases
            </h1>


            <p class="govuk-body">
            The court needs to know if there are any other legal proceedings related to your marriage. This includes any legal proceedings that are:
            </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>ongoing, finished or abandoned</li>
              <li>between you and your husband or wife</li>
              <li>between you, your husband or wife and anyone else </li>
            </ul>

            <h2 class="govuk-heading-m">Are there, or have there ever been, any other legal proceedings relating to your marriage? </h2>

            <div id="other-cases" class="govuk-hint">
          Not including legal proceedings that may happen in the future.
        </div>

            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="other-court-cases" name="other-court-cases" type="radio" value="Yes" data-aria-controls="conditional-other-court-cases" {{ checked("other-court-cases", "Yes") }}>
                  <label class="govuk-label govuk-radios__label" for="other-court-cases">
                    Yes
                  </label>
                </div>
<!--
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-other-court-cases">
                  <div class="govuk-form-group">

                      <div class="govuk-!-padding-bottom-2"></div>

                <h2 class="govuk-heading-m">
                      What do the legal proceedings relate to?
                  </h2>

                      <div id="changed-name-hint" class="govuk-hint">
Select all that apply
</div>

                <div class="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="other-court-cases-type" name="other-court-cases-type" type="checkbox" value="Our marriage" {{ checked("other-court-cases-type", "Our marriage") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="other-court-cases-type">
                        Marriage
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="other-court-cases-type-2" name="other-court-cases-type" type="checkbox" value="Our property" {{ checked("other-court-cases-type", "Our property") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="other-court-cases-type-2">
                        Property
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="other-court-cases-type-3" name="other-court-cases-type" type="checkbox" value="Our children" {{ checked("other-court-cases-type", "Our children") }}>
                      <label class="govuk-label govuk-checkboxes__label" for="other-court-cases-type-3">
                        Children
                      </label>
                    </div>
                  </div>

                </div>

                </div>
-->


                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="other-court-cases-2" name="other-court-cases" type="radio" value="No" data-aria-controls="conditional-other-court-cases-2" {{ checked("other-court-cases", "No") }}>
                  <label class="govuk-label govuk-radios__label" for="other-court-cases-2">
                    No
                  </label>
                </div>



      </div>
    </div>
          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
