{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00703c">
        <h1 class="govuk-panel__title">Application submitted</h1>
        <div class="govuk-body-l" style="color:white">
          Your reference number is:
          <div class="govuk-panel__body">
          <strong>1607 - 1014 - 1480 - 4782</strong>
          </div>
        </div>
        <div class="govuk-body" style="color:white"><strong>You have been sent a confirmation and payment receipt by email.</strong></div>
      </div>

      <!--<p class="govuk-body">
        You have been sent a confirmation and payment receipt by email.
      </p> -->

      <div class="govuk-!-padding-bottom-8"></div>

      <div class="hmcts-progress-bar">
      <ol class="hmcts-progress-bar__list">

      <li class="hmcts-progress-bar__list-item" aria-current="step">
        <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
        <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Submitted</span>
      </li>

      <li class="hmcts-progress-bar__list-item">
        <span class="hmcts-progress-bar__icon"></span>
        <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Response</span>
      </li>

      <li class="hmcts-progress-bar__list-item" >
        <span class="hmcts-progress-bar__icon"></span>
        <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Conditional order</span>
      </li>

      <li class="hmcts-progress-bar__list-item">
        <span class="hmcts-progress-bar__icon"></span>
        <span class="hmcts-progress-bar__label govuk-body govuk-!-font-size-14">Final order (Divorced)</span>
      </li>

      </ol>
      </div>


      <div class="govuk-!-padding-bottom-4"></div>

      <!--<h2 class="govuk-heading-l">What you need to do </h2>-->

      <h3 class="govuk-heading-m">What you need to do </h3>

      <p>You need to apply to serve (send) the divorce application to your husband or wife another way. For example by email, text message or social media. This is because you did not provide their postal address and the court needs to notify them about the divorce. Your divorce will not proceed until you have applied. </p>

      <p><a href="https://fpl-probate-prototypes.herokuapp.com/divorce/alternative_service_2/alternative_1.html">Apply to serve the divorce application another way </a></p>

      <p>You have also been sent this link to your email address. </p>

      <h3 class="govuk-heading-m">Dividing money and property</h3>

      <p>It’s important that you settle how to divide your money and property before the end of the divorce process. Otherwise you or your husband could make financial claims against each other, after the marriage is ended. Even if you have kept your finances separate during the marriage. </p>

      <p>You have been emailed details of how to reach an agreement about dividing your money and property. The email also has information on what to do if you cannot agree. </p>

      <!--

        <h3 class="govuk-heading-m">Apply to serve the divorce application another way</h3>

        <p>You need to apply to serve the divorce application to your husband or wife another way. For example, by email, text message or social media. This is because you did not provide their address in the application.</p>

        <p>
          <a href="https://fpl-probate-prototypes.herokuapp.com/divorce/alternative_service/alternative_1">Apply to serve the divorce application another way</a>
        </p>

      -->

        <!--
        <p>
          <a href="https://www.gov.uk/government/publications/form-d11-application-notice">Apply to serve the divorce application another way</a>
        </p>
        -->

<!--

        <h2 class="govuk-heading-l">What happens next</h2>
        <p>Your application will be checked by court staff. You will receive an email notification by <span id='date-time'></span> confirming whether it has been accepted.
          Your <span id='data1'>{{ data['husband-wife'] }}</span> will then be sent a copy of the application. They will be asked to check the information and respond. </p>

        <script>

          var targetDate = new Date();
          targetDate.setDate(targetDate.getDate() + 2);

          var dd = targetDate.getDate();
          var mm = targetDate.getMonth(); // 0 is January, so we must add 1
          var yyyy = targetDate.getFullYear();

          const months = ["January", "February", "March","April", "May", "June", "July", "August", "September", "October", "November", "December"];
          var dateString = dd + " " + months[mm]  + " " + yyyy;
          document.getElementById('date-time').innerHTML=dateString;

        </script>


<p>If you want the application to be served (sent) to your <span id='data2'>{{ data['husband-wife'] }}</span> by post instead of email, then phone 0300 303 0642. </p>
        <h3 class="govuk-heading-m">Dividing your money and property</h3>

        <p>It’s usually more straightforward and less expensive if you agree with your <span id='data3'>{{ data['husband-wife'] }}</span> on how to divide your money and property. <a href="https://www.gov.uk/money-property-when-relationship-ends/mediation" class="govuk-link">Get help agreeing</a>.</p>

        <p>If you do agree then you can make the agreement legally binding. This is known as asking the court to make a <a href="https://www.gov.uk/money-property-when-relationship-ends/apply-for-consent-order" class="govuk-link">‘consent order’</a>.</p>

        <p>If you disagree then you can ask the court to decide for you. This is known as applying for a <a href="https://www.gov.uk/money-property-when-relationship-ends/get-court-to-decide" class="govuk-link">‘financial order’</a>.</p>

        <p>Read the guidance on <a href="https://www.gov.uk/money-property-when-relationship-ends" class="govuk-link">money and property when you divorce or separate</a>.</p>

-->

        <h3 class="govuk-heading-m">If you need help</h3>

        <p>Court staff can give you help with your application. They cannot give you legal advice. You should speak to a <a href="#" class="govuk-link">solicitor or legal adviser</a>.</p>


                <h2 class="govuk-heading-s">Web chat</h2>
                    <ul class="govuk-list">
                        <li>No agents are available, please try again later.</li>
                    </ul>
                <h2 class="govuk-heading-s">Send us a message</h2>
                    <ul class="govuk-list">
                        <li><a class="govuk-link" href="#">Send us a message</a></li>
                        <li>We aim to get back to you within 5 working days</li>
                    </ul>
                <h2 class="govuk-heading-s">Telephone</h2>
                    <ul class="govuk-list">
                        <li>0300 303 0742</li>
                        <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
                    </ul>
<br>
                      <p>If you are suffering from any form of domestic abuse, then <a href="https://www.gov.uk/guidance/domestic-abuse-how-to-get-help" class="govuk-link">help is available</a>.   </p>



        <h3 class="govuk-heading-m">Help improve this service</h3>

        <p>This is a new service. <a href="confirmation_timescales" class="govuk-link">Your feedback</a> helps to improve it for others.</p>

    </div>
  </div>


  <!-- <span id='data1'>{{ data['husband-wife'] }}</span>'s -->
  <script>
    const datacheck = document.getElementById('data1').innerHTML
    if (datacheck === '') {
      document.getElementById('data1').innerHTML="husband or wife";
      document.getElementById('data2').innerHTML="husband or wife";
      document.getElementById('data3').innerHTML="husband or wife";
    }
  </script>


{% endblock %}
