{% extends "layouts/main.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you need emails and letters in English or Welsh? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="hub_7" method="post" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Explain the delay
                  </h1>
                </legend>

                <p>You are making this application for a final order over one year from when the conditional order was made.
                  Explain to the court why you did not apply for a final order earlier. Your answer will be reviewed as part of your application. </p>


<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">

    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">

  </div>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
</div>


              </fieldset>

              <div class="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" style="background-color: white" id="statement-truth" name="statement-truth" type="checkbox" value="checked" {{ checked("statement-truth", "checked") }}>
                  <label class="govuk-label govuk-checkboxes__label" for="statement-truth">
                    I believe that the facts stated in this application are true
                  </label>
                </div>
              </div>
            </div>

            <p class="govuk-body">
                      This confirms that the information you are submitting is true and accurate, to the best of your knowledge. It’s known as your ‘statement of truth’.
                      </p>



            <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>

           <!-- <a href="/divorce2/applicant_postal_address" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a>

            <a href="/divorce2/applicant_address_private" role="button" draggable="false" class="govuk-button"  data-module="govuk-button">
                Continue
              </a> -->

        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
