{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - How to apply for a financial order - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/divorce2/upload" method="post" novalidate>

          <div class="govuk-form-group">

                  <h1 class="govuk-heading-l"> 
                    Who is the financial order for? 
                  </h1>

                  <p class="govuk-body">
                  The financial order will describe how to split you and your husband’s money and property. Sometimes it can also describe whether any money or property will be transferred to one of you, for the benefit of any children you may have. For example, a property could be transferred to the parent who is looking after the child, until the child becomes an adult. 
                  </p>

                  <p class="govuk-body">
                  For legal reasons, the court needs to know now if you want the financial order to just describe your money and property, or to also include money and property transferred to one of you, for the benefit of any children under the age of 18. 
                  </p>

                  <div class="govuk-inset-text">
                    If you say now that you want the financial order to be for your children then the financial order does not have to include them. It just gives you the option to include them on the financial order, should you need to. 
                  </div>



                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="financial-order" name="financial-order" type="radio" value="Yes, I want to apply for a financial order" data-aria-controls="conditional-financial-order">
                        <label class="govuk-label govuk-radios__label" for="financial-order">
                          I need a financial order for myself 
                        </label>
                      </div>

                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="financial-order-2" name="financial-order" type="radio" value="No, I do not want to apply for a financial order" data-aria-controls="conditional-financial-order-2">
                        <label class="govuk-label govuk-radios__label" for="financial-order-2">
                           I need a financial order for myself and my child(ren)
                        </label>
                      </div>

           <br>
           <br>

          <!--

          <div class="govuk-form-group">

                  <h1 class="govuk-heading-l">
                    How to apply for a financial order
                  </h1>

                  <p class="govuk-body">
                  You will need to complete another form (Form A or Form A1) and pay an additional fee. You can apply at any time, so long as your husband or wife is still alive.
              </p>

              <div class="govuk-inset-text">
                  You will be given a link to the relevant forms and more guidance after you have submitted this divorce application. You can get legal advice or ask a solicitor to draft a financial order for you.
              </div>

              <p class="govuk-body">
                  Continue with your divorce application
              </p>

            </div>

          -->

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
