{% extends "layouts/main.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - How do you want the divorce papers to be served to your husband or wife? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="applicant_address_select.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/divorce2/respondent_postal_address" method="post" novalidate>

          <div class="govuk-form-group">
              
                  <h1 class="govuk-heading-l">
                    Applying to have the divorce papers served another way
                  </h1>
                
                  
                  <p class="govuk-body">
                  You will be given the link to apply after you have submitted this divorce application.    
                  </p> 
                  
               <!-- <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="respondent-address-1" name="respondent-address" type="radio" value="Yes, I have their address" {{ checked("respondent-address", "Yes, I have their address") }}>
                    <label class="govuk-label govuk-radios__label" for="respondent-address-1">
                      Serve the papers to my husband or wife by post   
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="respondent-address-2" name="respondent-address" type="radio" value="No, I do not have their address" {{ checked("respondent-address", "No, I do not have their address") }}>
                    <label class="govuk-label govuk-radios__label" for="respondent-address-2">
                      Serve the papers to my husband or wife by email 
                    </label>
                  </div>
                </div> -->
                 
              
            </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
