{% extends "layout.html" %}

{% block pageTitle %}
  Apply for a divorce - You cannot get a divorce - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="broken_down_irretrievably.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You cannot apply to get a divorce  
      </h1>

      <p>Your marriage must have broken down irretrievably for you to get a divorce in England or Wales. This is the law. 
      </p>

      <p>If your marriage can be saved then you may want to consider advice or counselling. This is available from private therapists and charities like <a href="https://www.relate.org.uk/relationship-help/help-relationships" class="govuk-link" rel="noreferrer noopener" target="_blank">Relate</a>.</p>
        
      <p><a href="#">Sign out</a></p>

    </div>
  </div>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>
{% endblock %}
