{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you want to apply for a financial order? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="money_property.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/divorce/financial_order_details" method="post" novalidate>

          <div class="govuk-form-group">
              
                  <h1 class="govuk-heading-l">
                    Do you want to apply for a financial order?  
                  </h1>
                
                  
                  <p class="govuk-body">
                  If you disagree about dividing your money and property then you can ask the court to decide for you. This is known as applying for a financial order. The court needs to know now, if you want to apply. The application itself is done separately using another form, and costs an additional £255.     
                  </p>
              
              <h2 class="govuk-heading-s">If you select yes: </h2>
                  
                  <ul class="govuk-list govuk-list--bullet">
                    <li>you do not have to proceed with the application for a financial order. </li>
                    <li>you can proceed with the application for a financial order at any time, so long as your husband or wife is still alive.</li>
                  </ul> 
                  
                  <h2 class="govuk-heading-s">If you select no:</h2>
              
              <ul class="govuk-list govuk-list--bullet">
                    <li>you can still apply for a financial order in the future. </li>
                    <li>you’ll only be able to apply until you remarry or form a new civil partnership (this does not apply to pension sharing or pension compensation orders, which can be applied at any time)</li>
                  </ul>
              
              <h2 class="govuk-heading-m">Do you want to apply for a financial order?</h2>
              
              <p class="govuk-body">
                  TThe application itself will be done separately, after you have submitted this divorce application.     
                  </p>
                  
                  <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="financial-order" name="financial-order" type="radio" value="Yes, I want to apply for a financial order" data-aria-controls="conditional-financial-order" {{ checked("financial-order", "Yes, I want to apply for a financial order") }}>
                        <label class="govuk-label govuk-radios__label" for="financial-order">
                          Yes, I want to apply for a financial order 
                        </label>
                      </div>
                      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="financial-order-2" name="financial-order" type="radio" value="No, I do not want to apply for a financial order" data-aria-controls="conditional-financial-order-2" {{ checked("financial-order", "No, I do not want to apply for a financial order") }}>
                        <label class="govuk-label govuk-radios__label" for="financial-order-2">
                          No, I do not want to apply for a financial order 
                        </label>
                      </div>
                      
                      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-financial-order">
                        <div class="govuk-form-group">
                            
                            <div class="govuk-!-padding-bottom-2"></div>
                        
                      <h2 class="govuk-heading-m">
                            Who is the financial order for?  
                        </h2> 
                            
                            <div id="changed-name-hint" class="govuk-hint">
      Select all that apply
    </div>
                        
                      <div class="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="financial-order-type" name="financial-order-type" type="checkbox" value="Me" {{ checked("financial-order-type", "Me") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="financial-order-type">
                              Me
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="financial-order-2" name="financial-order-type" type="checkbox" value="My children" {{ checked("financial-order-type", "My children") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="financial-order-2">
                              My children
                            </label>
                          </div>
                        </div>

                      </div>
                      
                      </div>
                 
            </div>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
