{% extends "layout.html" %}

{% block pageTitle %}
  Confirmation page example
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Joe Bloggs & Joanne Bloggs
    </h1>

</div>

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">Reference Number: EZ111456</p>


      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:1px;color:#1d70b8;background-color:#1d70b8;"">



        <div class="govuk-!-padding-bottom-8"></div>

        <div class="hmcts-progress-bar">
        <ol class="hmcts-progress-bar__list">

        <li class="hmcts-progress-bar__list-item" >
          <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
          <span class="hmcts-progress-bar__label">Application submitted</span>
        </li>

        <li class="hmcts-progress-bar__list-item" >
          <span class="hmcts-progress-bar__icon hmcts-progress-bar__icon--complete"></span>
          <span class="hmcts-progress-bar__label">Response</span>
        </li>

        <li class="hmcts-progress-bar__list-item" aria-current="step">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Conditional order</span>
        </li>

        <li class="hmcts-progress-bar__list-item" >
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Final order</span>
        </li>

        <li class="hmcts-progress-bar__list-item" >
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Divorced</span>
        </li>
<!--
        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Final order application</span>
        </li>

        <li class="hmcts-progress-bar__list-item">
          <span class="hmcts-progress-bar__icon"></span>
          <span class="hmcts-progress-bar__label">Divorced</span>
        </li>
-->
        </ol>
        </div>


        <div class="govuk-!-padding-bottom-4"></div>



      <h2 class="govuk-heading-m">What you need to do</h2>

      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #F2F8F5; text-align: left;">


<p> The court is not yet satisfied you are entitled to get divorced. You need to provide more information or documents, to continue with your application.</p>


<h3 class="govuk-heading-s">The court’s feedback </h3>

<p>'Your marriage certificate cannot be read. Please upload another copy of it, which is legible'</p>

<p>You can download a copy of the court’s full <a href="">Refusal Order (PDF)</a>.</p>


<h3 class="govuk-heading-s">What you need to do next </h3>

<p>You need to respond to the court’s feedback before your application can proceed. </p>

<p>You will be able to upload or post documents to the court when you respond, if they have been requested. </p>


<form action="respond_to_court" method="post" novalidate>
       <button type="submit" class="govuk-button" data-module="govuk-button">
         Respond to the court
       </button>

       </form>



<h3 class="govuk-heading-s">Helpful Information</h3>

<p><a href="hub_4">Find out about dividing money and property </a></p>
<p><a href="">Find out more about conditional orders </a></p>
      </div>

      <br>


</div>




    <div class="govuk-grid-column-one-third">

    <div class="govuk-!-padding-bottom-5"></div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" style="height:5px;color:#1d70b8;background-color:#1d70b8;">


      <h2 class="govuk-heading-s">I want to...</h2>

      <p>  <a href="">View the divorce application (PDF)</a></p>
        <p>  <a href="">View the response to the divorce application (PDF)</a></p>
        <p>  <a href="check_contact_details">Review your contact details</a></p>


        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <h2 class="govuk-heading-s">Contact us for help</h2>

  <p class="govuk-body">Ask a question or get help in your language.</p>

  <p class="govuk-body">Telephone<br>
0300 123 1711</p>

<p class="govuk-body">Monday to Friday, 8:30am to 5pm<br>


<a href="#" class="govuk-link">Find out about call charges </a> <br>(opens in a new window)</p>


<p class="govuk-body">Email<br>
<a href="#" class="govuk-link">contactia@justice.gov.uk</a></p>

<p class="govuk-body">We aim to get back to you within 5 days.</p>


</div>


  </div>

{% endblock %}
