{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - You can use the English or Welsh courts to get a divorce - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="life_based_in_uk.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/divorce/your_names" method="post" novalidate>

          <div class="govuk-form-group">

                  <h1 class="govuk-heading-l">
                    You can use the English or Welsh courts to get a divorce
                  </h1>

                  <p class="govuk-body">
                  Your answers indicate that you can apply for a divorce in England or Wales because both of you are 'habitually resident'here.
                  There are other ways to be legally connected to England or Wales which might be important if there is a dispute about whether the courts have jurisdiction.

                  </p>

              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Read more about habitual residence and the other possible legal connections
                    </span>
                  </summary>




                  <div class="govuk-details__text">
                      <h3 class="govuk-heading-s">Habitual Residence</h3>
                      <div class="govuk-!-padding-bottom-2"></div>
                    Your habitual residence is the place in which your life is mainly based. You must be settled there and intend to stay settled there. Some of the following may apply: you work there, own property, have your children in school there, and your main family life takes place there.
                  </div>


                  <div class="govuk-details__text">
                    <h3 class="govuk-heading-s">Domicile</h3>
                    <div class="govuk-!-padding-bottom-2"></div>
                    Your domicile is the place of your permanent home in which you live, or to which you intend to return.
                  </div>
                  <div class="govuk-details__text">
                    When you were born you will have acquired your parents' domicile (for example, your father's if they were married, or your mother's if they weren’t married or if your father died before you were born). If you have since moved to another country and made that your permanent home then your domicile may have moved there.
                  </div>

                  <div class="govuk-details__text">
                      If you were born in England or Wales, lived your entire life here, and intend to stay here, then it is very likely that you’ll be both habitually resident and domiciled here.
                  </div>

                  <div class="govuk-details__text">
                    If you think that there might be a dispute about whether the English and Welsh courts have jurisdiction over your case then you should get advice from a solicitor after submitting this application.
                  </div>

                  <div class="govuk-details__text">
                    You can also add the additional ways in which you are connected to England or Wales below. This will help strengthen your case if there is a dispute about jurisdiction.

                      <div class="govuk-!-padding-bottom-4"></div>


                                      <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>

                  </div>







              </details>

            </div>

           <!-- <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-heading-m">
                      Do you want to add more connections to England and Wales?
                  </h1>
                </legend>

                <p>You only need to do this if your husband or wife may disagree that both of you are habitually resident.</p>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="help-fees-1" name="help-fees" type="radio" value="true" {{ checked("help-fees", "true") }}>
                    <label class="govuk-label govuk-radios__label" for="help-fees-1">
                      I'm confident that connection is right
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="help-fees-2" name="help-fees" type="radio" value="false" {{ checked("help-fees", "false") }}>
                    <label class="govuk-label govuk-radios__label" for="help-fees-2">
                      I'm not sure, and I want to add more connections
                    </label>
                  </div>
                </div>

              </fieldset>
            </div> -->

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
