{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Dividing your money and property - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="other_court_cases.html">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/divorce/claim_costs" method="post" novalidate>

          <div class="govuk-form-group">
              
                  <h1 class="govuk-heading-l">
                    Dividing your money and property
                  </h1>
                  
                  <p class="govuk-body">
                  It’s usually more straightforward and less expensive if you agree with your husband or wife on how to divide your money and property. There are mediation services available to help you come to an agreement. You will be given links to further guidance after you have submitted your application.    
                  </p> 
                  
                  <p class="govuk-body">
                  If you do agree then you can make the agreement legally binding. This is known as asking the court to make a ‘consent order’. You apply for a consent order separately by filling out a ‘D81’ paper application form. </p>
                  
                  <p class="govuk-body">
                  If you disagree then you can ask the court to decide for you. This is known as applying for a ‘financial order’. The court needs to know now if you are planning on applying for a financial order. </p>
                  
                  <h2 class="govuk-heading-m">Do you want the court to decide how to divide your money and property?  </h2>
                  
                  <div id="other-cases" class="govuk-hint">
                This is known as applying for a ‘financial order’. 
              </div>
                  
                <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="money_property" name="money_property" type="radio" value="I want the court to decide " data-aria-controls="conditional-money_property" {{ checked("money_property", "I want the court to decide") }}>
                        <label class="govuk-label govuk-radios__label" for="money_property">
                          Yes, I want the court to decide 
                        </label>
                      </div>
                      
                      <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="money_property-2" name="money_property" type="radio" value="I do not want the court to decide" data-aria-controls="conditional-money_property-2" {{ checked("money_property", "I do not want the court to decide") }}>
                        <label class="govuk-label govuk-radios__label" for="money_property-2">
                          No, I do not want the court to decide
                        </label>
                      </div> 
              
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-money_property">
                        <div class="govuk-form-group">
                        
                            <div class="govuk-!-padding-bottom-2"></div>
                            
                      <h2 class="govuk-heading-m">
                            What will the financial order relate to?
                          <div id="contact-hint" class="govuk-hint">
                          Select all that apply 
                        </div>
                        </h2>         
                        
                      <div class="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="money_property-type" name="money_property-type" type="checkbox" value="Our money and property" {{ checked("money_property-type", "Our money and property") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="money_property-type">
                              Our money and property 
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="money_property-type-2" name="money_property-type" type="checkbox" value="Our children’s money and property" {{ checked("money_property-type", "Our children’s money and property") }}>
                            <label class="govuk-label govuk-checkboxes__label" for="money_property-type-2">
                              Our children’s money and property 
                            </label>
                          </div>
                        </div>

                      </div>
                      
                      </div>
                 
            </div>
              </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
