{% extends "layout.html" %}

{% block pageTitle %}
 Apply for a divorce - You need to get their address - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="postal_address.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You need to get their address  
      </h1>

      <p>You need an address for your husband or wife before you can apply for a divorce. 
      </p>
        
        <p>The address can be their postal address or their solicitor’s address. It can be UK or international. It cannot be their work address.  
      </p>
        
      <p>To find their address, you could try contacting their: </p>    
        
      <div>
          <ul class="govuk-list govuk-list--bullet">
            <li>relatives</li>
            <li>friends</li>
            <li>last-known employer</li>
            <li>trade union or professional organisation</li>
          </ul>
      </div>  

        <h2 class="govuk-heading-m">
        If you know you cannot get their address  
      </h2>
        
      <p>If you know that you will not be able to get their address then you can...</p>
        
      <p><a href="#">Sign out</a></p>

    </div>
  </div>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>
{% endblock %}
