{% extends "layout.html" %}

{% block pageTitle %}
 Apply for a divorce - You need your marriage certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="marriage_certificate.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You need your marriage certificate 
      </h1>

      <p>You need your marriage certificate to use this service.</p>

      <p>You should ask your husband or wife for it, if they have it. Or you can <a href="#">order a certified copy online</a> (if you got married in England or Wales). </p>
        
      <p>If your original marriage certificate is in a different language, you need to get it <a href="#">certified by the translator</a>. A ‘notary public’ can also certify a translated marriage certificate. </p>
        
      <p><a href="#">Save and close</a></p>

    </div>
  </div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>
{% endblock %}
