{% extends "layout.html" %}

{% block pageTitle %}
 Apply for a divorce - You need your marriage certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="marriage_certificate.html">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You need your marriage certificate 
      </h1>

      <p>You need your marriage certificate to use this service.</p>

      <p>You should ask your husband or wife for it, if they have it. Or you can <a href="https://www.gov.uk/certifying-a-document" class="govuk-link" rel="noreferrer noopener" target="_blank">order a certified copy online</a> (if you got married in England or Wales). </p>
        
      <p>If your original marriage certificate is not in English, it must be <a href="https://www.gov.uk/order-copy-birth-death-marriage-certificate" class="govuk-link" rel="noreferrer noopener" target="_blank">certified by the translator</a>. You then need to get it certified by a ‘notary public’. </p>
        
      <p><a href="#">Save and sign out</a></p>

    </div>
  </div>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>
{% endblock %}
