{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Do you have your husband’s or wife’s postal address? - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="/divorce2/respondent_no_address_no_email" method="post" novalidate>

          <div class="govuk-form-group">
              <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                  <h1 class="govuk-fieldset__heading">
                    Do you have your husband’s or wife’s postal address?
                  </h1>
                </legend>

                  <p class="govuk-body">
                  It’s important you provide your husband’s or wife’s address. You did not provide their email address and the court needs a way to ‘serve’ (deliver) the divorce papers to them.
                  </p>

                  <div class="govuk-inset-text">
                      <p>It should be an address where they can receive the divoce papers.  It can be UK or international. If you use their work address, you need to ask their permission.</p>

                      <p>If you do not know their current address then you can use their last-known address. If they do not respond at the address you provide, then you will need to make a separate application to serve (deliver) the papers to them another way.</p>

                    </div>

                <div class="govuk-radios">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="respondent-address-3" name="respondent-address-no-email" type="radio" value="Yes, I have their address" {{ checked("respondent-address-no-email", "Yes, I have their address") }}>
                    <label class="govuk-label govuk-radios__label" for="respondent-address-3">
                      Yes, I have their address
                    </label>
                  </div>
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="respondent-address-4" name="respondent-address-no-email" type="radio" value="No, I do not have their address" {{ checked("respondent-address-no-email", "No, I do not have their address") }}>
                    <label class="govuk-label govuk-radios__label" for="respondent-address-4">
                      No, I do not have their address
                    </label>
                  </div>
                </div>

              </fieldset>
            </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
