{% extends "layouts/main.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Apply for a divorce - Enter these details from the email - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>


{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Enter your access details</h1>

        <form action="hub_1" method="post" novalidate>

            <p>Your reference number and access code are in the email and letter you received which invited you to this application.</p>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="joint-ref">
              Your reference number
            </label>
              <div id="joint-ref-hint" class="govuk-hint">
              This is a 16-digit number
            </div>
            <input class="govuk-input govuk-input--width-20" id="joint-ref" name="joint-ref" type="text" aria-describedby="joint-ref-hint">
            </div>

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="joint-access-code">
              Your access code
            </label>
              <div id="joint-access-code-hint" class="govuk-hint">
              This is 8 characters
            </div>
            <input class="govuk-input govuk-input--width-20" id="joint-access-code" name="joint-access-code" type="text" aria-describedby="joint-access-code-hint">
            </div>

            <p><a href="forgot_access_details">I do not know my access details</a></p>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>

        </form>
      </div>
    </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
