{% extends "layout.html" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}
  Apply for a divorce - Other court cases relating your marriage, property or children - GOV.UK
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers</h1>


      <h2 class="govuk-heading-m">Confirm that you have read the divorce application</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
          Review the divorce application
          </dt>
          <dd class="govuk-summary-list__value">
            I have read the application for divorce
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> who are you divorcing</span>
            </a>
          </dd>
        </div>
        <!--
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How do you want to respond to the application?
          </dt>
          <dd class="govuk-summary-list__value">
            I agree with the divorce proceeding
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> type of relationship</span>
            </a>
          </dd>
        </div>
-->
      </dl>

      <h2 class="govuk-heading-m">About your divorce</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">


<!--
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key" style="width:60%">
                  How do you want to respond to the application?
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['agreeordispute'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  <a href="#">
                    Change
                    <span class="govuk-visually-hidden"> married in the uk</span>
                  </a>
                </dd>
              </div>


-->


<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key" style="width:60%">
    How do you want to respond to the application?
  </dt>
  <dd class="govuk-summary-list__value">
    {{ data['agreeordispute'] }}
  </dd>
  <dd class="govuk-summary-list__actions">
    <a href="#">
      Change
      <span class="govuk-visually-hidden"> married in the uk</span>
    </a>
  </dd>
</div>


            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key" style="width:60%">
                Do you agree the courts of England and Wales have jurisdiction?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ data['jurisdiction_agree'] }}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a href="#">
                  Change
                  <span class="govuk-visually-hidden"> married in the uk</span>
                </a>
              </dd>
            </div>

    </dl>


      <h2 class="govuk-heading-m">Other court cases </h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key" style="width:60%">
            Are there, or have there ever been, any other legal proceedings relating to your marriage?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['other-court-cases'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> other court cases</span>
            </a>
          </dd>
        </div>
        </dl>





    <h2 class="govuk-heading-m">How the court will contact you</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
<!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:60%">

    Do you need your contact details kept private from your husband or wife?
    </dt>
    <dd class="govuk-summary-list__value">
          {{ data['contact'] }}
    </dd>

    <dd class="govuk-summary-list__actions">
      <a href="check_private">
        Change
        <span class="govuk-visually-hidden"> address</span>
      </a>
    </dd>
  </div>
-->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key" style="width:60%">
          Your postal address
        </dt>
        <dd class="govuk-summary-list__value">
          2
                            {{ data['address-selection'] }} Main Street<br>
                            London<br>
          EA124AJ
                            {{ data['address-postcode'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>

<!--
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Service type
        </dt>
        <dd class="govuk-summary-list__value">
          I agree that the divorce service can send me notifications and serve (deliver) court documents to me by email.
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>

      -->

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Phone number
        </dt>
        <dd class="govuk-summary-list__value">
          07771114445
        </dd>
        <dd class="govuk-summary-list__actions">
          <a href="#">
            Change
            <span class="govuk-visually-hidden"> email address</span>
          </a>
        </dd>
      </div>




        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What language do you want to receive emails and documents in?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['english-welsh'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> english or welsh</span>
            </a>
          </dd>
        </div>

        <!--
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Do you need the court to keep your address private from your husband or wife?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['address-private'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> address private</span>
            </a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Your address
          </dt>
          <dd class="govuk-summary-list__value">
            1 Main Street
            <br>London
            <br>{{ data['address-postcode-v2'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="#">
              Change
              <span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>

        -->
  </dl>






    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Confirm before submitting</h2>

        <div class="govuk-form-group">
                <div class="govuk-checkboxes">
                  <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" style="background-color: white" id="app-prayer" name="app-prayer" type="checkbox" value="checked" {{ checked("app-prayer", "checked") }}>
                    <label class="govuk-label govuk-checkboxes__label" for="app-prayer">
                      I confirm that:
                    </label>
                  </div>
                </div>
            </div>

          <div class="govuk-form-group">
                <ul class="govuk-list govuk-list--bullet" style="text-align: left">
                    <li>I am the person named as the respondent in the application for divorce</li>
                    <li>I believe that the facts stated in this response are true </li>
                  </ul>
            </div>

        <p class="govuk-body">
                  The first statement is confirming that you’re the person who should be responding to this application for divorce. The second is your statement of truth.
                  </p>


                  <div class="govuk-!-padding-bottom-4"></div>
                  <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-warning-text__assistive">Warning</span>
                    <div style="margin-top: -22px; padding-left: 10px;">Proceedings for contempt of court may be brought against anyone who makes, or causes to be made, a false statement verified by a statement of truth without an honest belief in its truth.</div>
                    </strong>
                  </div>







            </div>
  </div>


      <form action="hub_2" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Submit
        </button>

      </form>

    </div>
  </div>

<p><a href="#">Save and sign out</a></p>

<div class="govuk-!-padding-bottom-4"></div>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Contact us for help
    </span>
  </summary>
    <div class="govuk-details__text">
        <h2 class="govuk-heading-m">Web chat</h2>
            <ul class="govuk-list">
                <li>No agents are available, please try again later.</li>
            </ul>
        <h2 class="govuk-heading-m">Send us a message</h2>
            <ul class="govuk-list">
                <li><a class="govuk-link" href="#">Send us a message</a></li>
                <li>We aim to get back to you within 5 working days</li>
            </ul>
        <h2 class="govuk-heading-m">Telephone</h2>
            <ul class="govuk-list">
                <li>0300 303 0742</li>
                <li>Monday to Friday, 8am to 8pm, Saturday, 8am to 2pm</li>
            </ul>
    </div>
</details>

{% endblock %}
