{% extends "layouts/main.html" %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% block pageTitle %}
  Sign in - HMCTS Access
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p style="display: inline; position: relative;" class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
  <p style="display: inline-block; position: relative; float: right;" class="govuk-phase-banner__content">
      <a class="govuk-link" href="#">Cymraeg</a>
  </p>
</div>

{% endblock %}

{% block content %}









  <h1 class="govuk-heading-l">Create an account or sign in</h1>

      <div class="govuk-grid-row">



      <div class="govuk-grid-column-one-half" style="border-right: 5px solid lightgray">

<form action="access_code" method="post" novalidate>


            <h2 class="govuk-heading-m">Create an account</h2>

          <div class="govuk-form-group">
              <label class="govuk-label" for="three-quarters">
                First name
              </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
            </div>

            <div class="govuk-form-group">
              <label class="govuk-label" for="three-quarters">
                Last name
              </label>
              <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters" type="text">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="three-quarters">
                  Email address
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="your-email" name="your-email" type="text" value="{{ data['your-email'] }}">
              </div>

              <p class="body-text">
                            Read our
                            <a href="https://hmcts-access.service.gov.uk/privacy-policy">privacy policy</a>
                            and
                            <a href="https://hmcts-access.service.gov.uk/terms-and-conditions">terms and conditions</a>
                        </p>




          <button class="govuk-button" data-module="govuk-button">
          Continue
          </button>

        </form>
      </div>

      <div class="govuk-grid-column-one-half">
          <h2 class="govuk-heading-m">Already have an account?</h2>
          <p>


              <a href="sign_in">
                  Sign in to your account
              </a>

          </p>
      </div>


    </div>



{% endblock %}
