
{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        No fault - Prototype space
        <span class="govuk-caption-xl">Prototype kit version - {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

        <p>
        Links to all no fault divorce & civil partnership prototypes can be found on this page.
      </p>



    <ol class="govuk-list">
      <h2 class="govuk-heading-m">Contents</h2>
      <li>- <a href="#cross_service" class="govuk-link govuk-!-font-size-16">Cross service pages</a></li>
      <li>- <a href="#divorce_citizen_sole" class="govuk-link govuk-!-font-size-16">Divorce - Citizen sole application pages</a></li>
      <li>- <a href="#divorce_citizen_joint" class="govuk-link govuk-!-font-size-16">Divorce - Citizen joint application pages</a></li>
      <li>- <a href="#cp_citizen_sole" class="govuk-link govuk-!-font-size-16">End a civil partnership - Citizen sole application pages</a></li>
      <li>- <a href="#cp_citizen_joint" class="govuk-link govuk-!-font-size-16">End a civil partnership - Citizen joint application pages</a></li>
    </ol>
      <div class="govuk-!-padding-bottom-1"></div>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="cross_service">Emails (March 2021)</h2>

        <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="email_template.html">Template</a>
        </li>
        </ul>

     <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m" id="cross_service">Cross service (Feb 2021)</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="save_sign_out.html">Save and sign out</a>
        </li>
        <li>
          <a href="sign_out.html">Sign out</a>
        </li>
        <li>
          <a href="time_out.html">Time out pages</a>
        </li>
        <li>
          <a href="technical_problem.html">Technical problem page</a>
        </li>
        <li>
          <a href="page_not_found.html">Page not found page</a>
        </li>
        <li>
          <a href="service_unavailable.html">Service unavailable</a>
        </li>
        <li>
          <a href="#"><del>Delete application</del> - Holding link</a>
        </li>
        <li>
          <a href="address_1.html">Address pattern</a>
        </li>
      </ul>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h2 class="govuk-heading-m">Divorce</h2>

        <h3 class="govuk-heading-s" id="divorce_citizen_sole">Citizen sole application (Feb 2021)</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/divorce2/start.html">Full citizen sole journey (Version 1)</a> - Includes start page, sign in & screener pages
        </li>
          <br/>
        <li>
          <a href="/divorce2/check-you-can-get-a-divorce.html">GOV.UK pages</a> - (GOV.UK template page & step by step)
        </li>
        <li>
          <a href="/divorce2/broken_down_irretrievably.html">Screener pages</a> - (Who are you divorcing, Marriage broken down, postal address, date of marriage & marriage certificate)
        </li>
        <li>
          <a href="/divorce2/help_fees.html">Help with fees pages</a>
        </li>
        <li>
          <a href="/divorce2/marry_in_uk.html">Did you marry your H/W in the UK pages</a>
        </li>
        <li>
          <a href="/divorce2/jurisdiction.html">Jurisdiction pages</a>
        </li>
        <li>
          <a href="/divorce2/your_names.html">Names pages</a>
        </li>
        <li>
          <a href="/divorce2/respondent_email.html">Respondent's email & address pages</a>
        </li>
        <li>
          <a href="/divorce2/other_court_cases.html">Other court cases pages</a>
        </li>
      </ul>

      <h3 class="govuk-heading-s" id="divorce_citizen_joint">Citizen joint application (March 2021)</h3>


      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/joint_divorce/sign_in">Applicant 1 - Sign in or create an account</a>
        </li>
        <li>
          <a href="/joint_divorce/email_co_app_join">Co-applicant - Sign in or create an account</a>
        </li>

<br>

        <li>
          <a href="/joint_divorce/application_ready_submit">Your application is ready to submit (lead and co-app)</a>
        </li>
        <li>
          <a href="/joint_divorce/confirmation">Joint applicant submitted (lead and co-app)</a>
        </li>

        <li>
          <a href="/joint_divorce/confirm_co_app5">Check your joint application (co-app)</a>
        </li>


      </ul>





        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

        <h2 class="govuk-heading-m">Civil partnership</h2>

        <h3 class="govuk-heading-s" id="cp_citizen_sole">Citizen sole application (Feb 2021)</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/civil_partnership/start.html">Full citizen sole journey</a> - Includes start page, sign in & screener pages
        </li>
          <br/>
         <li>
          <a href="/civil_partnership/check-you-can-end-a-civil-partnership.html">GOV.UK pages</a> - (GOV.UK template page & step by step)
        </li>
         <li>
          <a href="/civil_partnership/male_or_female.html">Screener pages</a> - (Civil partnership broken down, postal address, date of civil partnership & civil partnership certificate)
        </li>
        <li>
          <a href="/civil_partnership/help_fees_cp.html">Help with fees pages</a>
        </li>
        <li>
          <a href="/civil_partnership/cp_in_uk.html">Did you form your civil partnership with your H/W in the UK pages</a>
        </li>
        <li>
          <a href="/civil_partnership/jurisdiction_cp">Jurisdiction pages</a>
        </li>
        <li>
          <a href="/civil_partnership/your_names.html">Names pages</a>
        </li>
        <li>
          <a href="/divorce2/english_welsh.html">English or Welsh page</a>
        </li>
        <li>
          <a href="/civil_partnership/respondent_email_cp.html">Respondent's email & address pages</a>
        </li>
        <li>
          <a href="/civil_partnership/other_court_cases_cp.html">Other court cases pages</a>
        </li>
      </ul>

    <!--  <h3 class="govuk-heading-s" id="cp_citizen_joint">Citizen joint application (March 2021)</h3>


      <!-- <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#"></a>
        </li>
      </ul> -->

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

     <h3 class="govuk-heading-s">Old prototype bits</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
            <a href="/divorce2/start_2.html"><del>Full citizen sole journey (Version 2) - Alternative same sex + marriage broken down pages</del></a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
