
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        NF Divorce - Prototype space
        <span class="govuk-caption-xl">Prototype kit version - {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        Links to all no fault divorce prototypes can be found on this page. 
      </p>

      <h2 class="govuk-heading-m">Divorce</h2>
        
        <h3 class="govuk-heading-s">Citizen sole application</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="start.html">Full citizen sole journey</a> - (Jan 2021 - Only includes start page, sign in and screener pages)
        </li>
          <br/>
        <li>
          <a href="check-you-can-get-a-divorce.html">GOV.UK pages</a> - (Currently 1 GOV.UK template page and step by step)
        </li>
        <li>
          <a href="married_or_civil_partnership.html">Screener pages - Stacked radio buttons</a> - (Married or in a civil partnership, marriage broken down irretrievably, postal address, email address, marriage certificate)
        </li>
        <li>
          <a href="married_or_civil_partnership.html">Screener pages - Horizontal yes/no radio buttons</a>
        </li>
      </ul>
        
        <h3 class="govuk-heading-s">Solicitor sole application</h3>
        

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#"></a>
        </li>
      </ul>
        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <h2 class="govuk-heading-m">Civil partnership</h2>
        
        <h3 class="govuk-heading-s">Citizen sole application</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#"></a>
        </li>
      </ul>
        
        <h3 class="govuk-heading-s">Solicitor sole application</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#"></a>
        </li>
      </ul>
        
    </div>
  </div>

{% endblock %}


