
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        No fault - Prototype space
        <span class="govuk-caption-xl">Prototype kit version - {{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
     <p>
        Links to all no fault divorce & civil partnership prototypes can be found on this page. 
      </p>
        
        <h2 class="govuk-heading-m">Cross service</h2>

      <ul class="govuk-list govuk-list--bullet"> 
        <li>
          <a href="save_sign_out.html">Save and sign out</a>
        </li>
        <li>
          <a href="sign_out.html">Sign out</a>
        </li> 
        <li>
          <a href="time_out.html">Time out pages</a>
        </li>
        <li>
          <a href="technical_problem.html">Technical problem page</a>
        </li>
        <li>
          <a href="page_not_found.html">Page not found page</a>
        </li>  
        <li>
          <a href="service_unavailable.html">Service unavailable</a>
        </li>
        <li>
          <a href="#"><del>Delete application</del> - Holding link</a>
        </li>  
        <li>
          <a href="address_1.html">Address pattern</a>
        </li>   
      </ul>
        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        

      <h2 class="govuk-heading-m">Divorce</h2>
        
        <h3 class="govuk-heading-s">Citizen sole application</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/divorce/start.html">Full citizen sole journey (Version 1)</a> - Includes start page, sign in & screener pages
        </li>
        <li>
            <a href="/divorce/start_2.html"><del>Full citizen sole journey (Version 2)</del></a> - Alternative same sex + marriage broken down pages</a>
        </li>
          <br/>
        <li>
          <a href="/divorce/check-you-can-get-a-divorce.html">GOV.UK pages</a> - (GOV.UK template page & step by step)
        </li>
        <li>
          <a href="/divorce/broken_down_irretrievably.html">Screener pages</a> - (Who are you divorcing, Marriage broken down, postal address, date of marriage & marriage certificate)
        </li>  
        <li>
          <a href="/divorce/help_fees.html">Help with fees pages</a>
        </li> 
        <li>
          <a href="/divorce/marry_in_uk.html">Did you marry your H/W in the UK pages</a>
        </li>  
        <li>
          <a href="/divorce/jurisdiction.html">Jurisdiction pages</a>
        </li>
        <li>
          <a href="/divorce/your_names.html">Names pages</a>
        </li>
        <li>
          <a href="/divorce/english_welsh.html">English or Welsh page</a>
        </li>
        <li>
          <a href="/divorce/respondent_email.html">Respondent's email & address pages</a>
        </li>
        <li>
          <a href="/divorce/other_court_cases.html">Other court cases pages</a>
        </li>
      </ul>  
        <!--
      <h3 class="govuk-heading-s">Solicitor sole application</h3>
        

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#"></a>
        </li>
      </ul> -->
        
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        
        <h2 class="govuk-heading-m">Civil partnership</h2>
        
        <h3 class="govuk-heading-s">Citizen sole application</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/civil_partnership/start.html">Full citizen sole journey</a> - Includes start page, sign in & screener pages
        </li>
          <br/>
         <li>
          <a href="/civil_partnership/check-you-can-end-a-civil-partnership.html">GOV.UK pages</a> - (GOV.UK template page & step by step)
        </li>  
         <li>
          <a href="/civil_partnership/husband_or_wife.html">Screener pages</a> - (Civil partnership broken down, postal address, date of civil partnership & civil partnership certificate)
        </li>
        <li>
          <a href="/civil_partnership/help_fees_cp.html">Help with fees pages</a>
        </li>
        <li>
          <a href="/civil_partnership/cp_in_uk.html">Did you form your civil partnership with your H/W in the UK pages</a>
        </li>  
        <li>
          <a href="/civil_partnership/your_names.html">Names pages</a>
        </li>
      </ul>
        
     <!--    <h3 class="govuk-heading-s">Solicitor sole application</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="#"></a>
        </li>
      </ul> -->
        
    </div>
  </div>

{% endblock %}


